%section#welcome
  %p
    ¡Tenemos charlas para todos los niveles de experiencia!
    %br
    Velo por tí mismo

%section#agenda
  .talk
    %h2 Tutoriales
    %p
      La idea de los tutoriales es que cada uno se traiga su laptop, o se junte con aquellos que la traigan, para poder llevar a la práctica lo que se aprende en el momento. Habrá enchufes varios y wi-fi para todo el mundo.

  .talk
    %h2 Agenda
    %p
      Proveeremos de traducción simultánea de Inglés a Español y viceversa para
      que no te pierdas ninguna charla.

    %iframe(src="https://www.google.com/calendar/hosted/oboxodo.com/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=oboxodo.com_2v43dt4e94f5d9m5hll6k0vt2o%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNoronha" style=" border:solid 1px #777 " width="650" height="500" frameborder="0" scrolling="no")
