%section#events

  %h2 Are you looking for something to do when RubyConf ends?

  %div.party
    %h3 Saturday night Cubox organizes a party to say goodbye RubyConf

    %div.picture
      %img{:src => '/images/party.png', :class => 'picture'}

    %h4.when Saturday 30/10 21pm
    %p We close the conference with music, drinks, WiFi and a lot of geek socialization, there will be food until midnight.
    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.

  %div.hackday
    %h3 Sunday all day Hackday in Coworking Montevideo

    %div.picture
      %img{:src => '/images/party.png', :class => 'picture'}

    %h4.when Sunday 31/10 since 10:30am
    %p We open the doors of Coworking MVD to share, build, argument and share ideas about technology.
    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.
