%section#events

  %h2 Estas buscando que hacer cuando termine la RubyConf?

  %div.party
    %h3 Sabado en la noche Cubox organiza una fiesta de adios a la RubyConf

    %div.picture
      %img{:src => '/images/party.png', :class => 'picture'}

    %h4.when Sábado 30/10 21 Horas
    %p Cerramos la conferencia con música, tragos, comida, WiFi y mucha socialización geek, la comida se servirá hasta la medianoche.
    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.

  %div.hackday
    %h3 Domingo Hackday durante todo el día en la casa de Coworking MVD

    %div.picture
      %img{:src => '/images/party.png', :class => 'picture'}

    %h4.when Domingo 31/10 desde 10:30am
    %p Abrimos la casa del Coworking MVD para compartir, construir, debatir y compartir ideas sobre tecnología descontracturadamente.
    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.
