%section#welcome
  %p
    Bienvenidos a la primer conferencia organizada en Uruguay para aprender
    sobre Ruby, la Web y tecnologías asociadas

%section#audience
  %h2 Para Quiénes

  %p
    RubyConf Uruguay será un evento orientado a todos los informáticos de la
    región que quieran aprender o actualizarse en tecnologías como Ruby, Ruby
    on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, etc.

  %p
    Habrá charlas para principiantes, intermedios y avanzados para que nadie
    se quede afuera. Pero lo más importante es que será un evento donde todos
    podremos aprender algo de los demás ya que nos esforzaremos por crear
    un buen ambiente de conversación entre los asistentes.

%section#when
  %h2 Cuándo

  %p Viernes 29 y sábado 30 de octubre, aproximadamente de 9 a 20 horas.

  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores. ¡Así que vayan reservándose esos días!

%section#where
  %h2 Dónde

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %div.pictures
    %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Oradores

  %p
    Tendremos oradores internacionales y apenas tengamos confirmados
    algunos nombres los iremos anunciando. Habrá traducción simultánea
    inglés-español para que todos puedan apreciar las charlas en inglés.

  %p
    Les interesaría presentar sobre ruby, web, o alguna tecnología asociada?
    ¡Genial! #{email "Envíennos un email"} detallando:

  %ul
    %li Título
    %li Un breve resumen del tema a exponer
    %li Cuál es el público objetivo

  %p
    Intentaremos dar lugar a las mejores propuestas.

%section#register
  %h2 Inscripciones

  %p
    En agosto abriremos las inscripciones. Por ahora #{email} o #{twitter} para mantenerse informados.

  %p Aún no tenemos el costo final, pero prometemos que va a ser muy accesible :)

%section#sponsorships
  %h2 Auspiciantes

  %p
    ¡Estamos buscando auspiciantes! Si les interesa o tienen alguna propuesta, no
    duden en #{email "enviarnos un mail"} para conversarla. En breve vamos a tener
    un prospecto con planes para auspiciar el evento.
