%p.welcome
  Bienvenidos a la primer conferencia organizada en Uruguay sobre Ruby, Ruby on
  Rails y Metodologías Ágiles.

#info
  .when
    %strong Cuándo?
    %span 29 y 30 de octubre
  .where
    %strong Dónde?
    %span Auditorio de la Torre de las Telecomunicaciónes

%p
  == En breve se abriran las inscripciones para asistir, #{twitter} para mantenerte al tanto!
