%section#welcome
  %p
    Bienvenidos a la primer conferencia organizada en Uruguay para aprender
    sobre <strong>Ruby, la Web y tecnologías asociadas</strong>

%section#audience
  %h2 Para Quiénes

  %p
    RubyConf Uruguay será un evento orientado a todos los informáticos de la
    región que quieran aprender o actualizarse en tecnologías como Ruby, Ruby
    on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, etc.

  %p
    Habrá charlas para principiantes, intermedios y avanzados para que nadie
    se quede afuera. Pero lo más importante es que será un evento donde todos
    podremos aprender algo de los demás ya que nos esforzaremos por crear
    un buen ambiente de conversación entre los asistentes.

%section#where
  %h2 Dónde

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %ul.pictures
    %li
      %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Oradores

  %p
    Tendremos oradores internacionales y apenas tengamos confirmados
    algunos nombres los iremos anunciando. Habrá traducción simultánea
    inglés-español para que todos puedan apreciar las charlas en inglés.

  %p
    El llamado a oradores ha finalizado. En breve anunciaremos la lista de
    charlas.

%section#when
  %h2 Cuándo
  %p.title 29 y 30 de octubre
  %p.subtitle aproximadamente de 9 a 20 horas
  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores. ¡Así que vayan reservándose esos días!

%section#register
  %h2 Inscripciones
  %p.title Disponible en breve

  %p
    En breve abriremos las inscripciones. Por ahora #{email} o #{twitter} para mantenerse informados.

  %p Aún no tenemos el costo final, pero prometemos que va a ser muy accesible :)
