%section#welcome
  %p
    Welcome to the first conference organized in Uruguay for exploring Ruby, the
    Web, and Agile Methodologies.

%section#audience
  %h2 Audience

  %p
    RubyConf Uruguay will be a single-track conference aimed at regional
    developers who want to learn about or get up-to-date on topics such as Ruby,
    Ruby on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, and more.

  %p
    Everybody is welcome: there will be talks for all levels of developers, from
    newbies to experts. But more importantly, it will be a place where everyone
    can learn something from each other as we'll work hard to provide good
    opportunities for networking.

%section#where
  %h2 Where

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %ul.pictures
    %li
      %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Speakers

  %p
    We'll announce the speakers soon! We will offer simultaneous English-Spanish
    interpretation so no one misses out on the talks.

  %p
    The call for proposals has closed. We'll announce the speakers soon.

%section#when
  %h2 When

  %p.title October 29th-30th
  %p.subtitle from 9 AM to 8 PM
  %p
    These will be two intensive days of learning and exchange with the attendees
    and speakers, so mark your calendars!

%section#register
  %h2 Registration
  %p.title Available soon

  %p
    Registrations will open shortly. For now, please #{twitter "follow us on twitter"}
    to keep up to date.

  %p The final price hasn't been decided yet, but we promise it will be very accessible :)
