%section#welcome
  %p
    Welcome to the first conference organized in Uruguay for exploring Ruby, the
    Web, and Agile Methodologies.

%section#audience
  %h2 Audience

  %p
    RubyConf Uruguay will be a single-track conference aimed at regional
    developers who want to learn about or get up-to-date on topics such as Ruby,
    Ruby on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, and more.

  %p
    Everybody is welcome: there will be talks for all levels of developers, from
    newbies to experts. But more importantly, it will be a place where everyone
    can learn something from each other as we'll work hard to provide good
    opportunities for networking.

%section#where
  %h2 Where

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %ul.pictures
    %li
      %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Speakers

  %p
    We will offer simultaneous English-Spanish
    interpretation so no one misses out on the talks.

  %p
    You can check the #{link_to 'list of speakers', 'http://eventioz.com/events/rubyconf-uruguay-2010/speakers'} with information about each of them. But here you have the list of names in alphabetic order: Aaron Patterson, Blaine Cook, Blake Mizerany, Brian Ford, Carmen Diaz Echauri, Charles Nutter, David Chelimsky, Emilio Tagua, Evan Henshaw-Plath, Federico Brubacher, Federico Romero, Gabriel Ledesma, Ian McFarland, Ignacio Facello, Ismael Celis, Juan Maiz, Kevin Gisi, Luis Lavena, Michel Martens, Santiago Pastorino and Scott Chacon.

%section#when
  %h2 When

  %p.title October 29th-30th
  %p.subtitle from 9 AM to 8 PM
  %p
    These will be two intensive days of learning and exchange with the attendees
    and speakers, so mark your calendars!

%section#register
  %h2 Registration
  %p.title Registrations are open!

  %p
    #{link_to 'REGISTER NOW!', 'http://eventioz.com/events/rubyconf-uruguay-2010/registrations/new'}

  %p
    Early bird ends September 30th, so hurry up!
  %ul
    %li
      Students price is USD 35 and turns USD 45 on October 1st.
    %li
      Non students price is USD 45 and turns USD 60 on October 1st.
  %p
    You can pay by paypal, credit card, bank deposit or plain cash.
