%section#welcome
  %p
    Bienvenidos a la primer conferencia organizada en Uruguay para aprender
    sobre <strong>Ruby, la Web y tecnologías asociadas</strong>

%section#audience
  %h2 Para Quiénes

  %p
    RubyConf Uruguay será un evento orientado a todos los informáticos de la
    región que quieran aprender o actualizarse en tecnologías como Ruby, Ruby
    on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, etc.

  %p
    Habrá charlas para principiantes, intermedios y avanzados para que nadie
    se quede afuera. Pero lo más importante es que será un evento donde todos
    podremos aprender algo de los demás ya que nos esforzaremos por crear
    un buen ambiente de conversación entre los asistentes.

%section#where
  %h2 Dónde

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %ul.pictures
    %li
      %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#when
  %h2 Cuándo
  %p.title 29 y 30 de octubre
  %p.subtitle aproximadamente de 9 a 20 horas
  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores. ¡Así que vayan reservándose esos días!

%section#register
  %h2 Inscripciones
  %p.title ¡Las registraciones están abiertas!

  %p
    #{link_to 'REGÍSTRESE AHORA', 'http://eventioz.com/events/rubyconf-uruguay-2010/registrations/new'}

  %p
    El precio promocional termina el 30 de septiembre, ¡así que apúrense!

  %ul
    %li
      El precio para estudiantes es USD 35 y será USD 45 a partir del 1ro de octubre.
    %li
      El precio para no estudiantes es USD 45 y será USD 60 a partir del 1ro de octubre.
  %p
    En todos los casos se incluye el almuerzo para ambos días y se puede pagar con paypal, tarjeta de crédito, depósito bancario o en efectivo.
