%section#welcome
  %p
    Bienvenidos a la primer conferencia organizada en Uruguay para aprender sobre
    Ruby, la Web y tecnologías asociadas

%section#audience
  %h2 Para Quiénes

  %p
    RubyConf Uruguay será un evento orientado a todos los informáticos de la
    región que quieran actualizarse en tecnologías como Ruby, Testing, SCRUM,
    JavaScript, SQL y NoSQL, etc.

  %p
    Habrán charlas para principiantes, intermedios y avanzados para que nadie
    se quede afuera.

%section#when
  %h2 Cuándo

  %p 29 y 30 de octubre

  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores aproximadamente de 9 a 20 horas, así que vayan
    reservándose esos días!

%section#where
  %h2 Dónde

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay

  %div.pictures
    %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Oradores

  %p
    Te interesaría presentar sobre ruby, web, o alguna tecnología asociada?
    Genial! #{email "Mandanos un mail"} detallando:

  %ul
    %li Título
    %li Un breve resumen de lo que vas a exponer
    %li Cuál es el público objetivo?

%section#register
  %h2 Inscripciones

  %p
    En agosto abriremos las inscripciones. Por ahora #{twitter} o comunícate a
    #{email} para mantenerte al tanto!

  %p Aún no tenemos el costo final, pero prometemos que va a ser muy accesible.

%section#sponsorships
  %h2 Auspiciantes

  %p
    Estamos buscando auspiciantes! Si les interesa o tienen alguna propuesta, no
    duden en #{email "enviarnos un mail"} para conversarla. En breve vamos
    a tener un prospecto con planes para auspiciar el evento.
