%section#welcome
  %p
    Welcome to the first conference organized in Uruguay for exploring Ruby, the
    Web, and Agile Methodologies.

%section#audience
  %h2 Audience

  %p
    RubyConf Uruguay will be a single-track conference aimed at regional
    developers who want to learn about or get up-to-date on topics such as Ruby,
    Ruby on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, and more.

  %p
    Everybody is welcome: there will be talks for all levels of developers, from
    newbies to experts. But more importantly, it will be a place where everyone
    can learn something from each other as we'll work hard to provide good
    opportunities for networking.

%section#when
  %h2 When

  %p October 29th and 30th, from 9 AM to 8 PM.

  %p
    These will be two intensive days of learning and exchange with the attendees
    and speakers, so mark your calendars!

%section#where
  %h2 Where

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %div.pictures
    %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Speakers

  %p
    We'll announce the speakers soon! We will offer simultaneous English-Spanish
    interpretation so no one misses out on the talks.

  %p
    Would you like to present on Ruby, the web, or something related? Awesome!
    #{email "Send us an email"} with:

  %ul
    %li The title of your presentation
    %li A brief summary
    %li Its target audience (beginners, intermediate, advanced)
    %li A short paragraph introducing you

  %p Proposals will be accepted until <strong>August 27th</strong>.

%section#register
  %h2 Registration

  %p
    Registration will open in August. For now, please #{twitter "follow us on twitter"}
    to keep up to date.

  %p The final price hasn't been decided yet, but we promise it will be very accessible :)

%section#sponsorships
  %h2 Sponsors

  %p
    We're looking for sponsors! If you're interested or have a proposal, please
    don't hesitate to #{email "send us an email"}. We'll have a prospectus with
    sponsorship plans shortly.