%section#welcome
  %p
    Welcome to the first conference organized in Uruguay to learn about Ruby, the
    Web, and Agile Methodologies

%section#audience
  %h2 Audience

  %p
    RubyConf Uruguay will be a single-track conference aimed at developers in the
    region that want to get up-to-date on stuff like Ruby, Testing, JavaScript,
    SQL vs NoSQL, etc.

%section#when
  %h2 When

  %p October 29th and 30th

  %p
    These will be two intensive days of learning and exchange with the attendees
    and speakers, from approximately 9am to 8pm. So mark your calendars!

%section#where
  %h2 Where

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %div.pictures
    %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#speakers
  %h2 Speakers

  %p
    We'll announce the speakers soon! We will offer simultaneous English-Spanish
    translation so no one misses out on the talks.

  %p
    Would you like to present on ruby, the web, or something along those lines?
    Awesome! #{email "Send us an email"} detailing:

  %ul
    %li Title
    %li Brief summary of your talk
    %li What's the target audience (beginners, intermediate, advanced)

%section#register
  %h2 Registration

  %p
    Registration will open in August. For now #{twitter "follow us on twitter"}
    to keep up to date.

  %p The final price hasn't been decided yet, but it will be very accessible :)

%section#sponsorships
  %h2 Sponsors

  %p
    We're looking for sponsors! If you're interested or you have any proposal,
    don't hesitate to #{email "send us an email"} to go over it. We'll have a
    prospectus with sponsorship plans briefly.
