%section#welcome
  %p
    We're looking for sponsors! If you're interested or have a proposal,
    please don't hesitate to #{email "send us an email"}

%section#gold
  %h2
    Gold
  %p
    $5000 USD, limited to 1 sponsor.
  %ul
    %li
      Prominent display of your logo in the event program, website, and
      all publications related to the event
    %li
      Priority placement of sponsor's logo over other levels of sponsors
    %li
      Possibility to display a 'roll' banner within the main conference
      hall and exhibition hall
    %li
      Up to three inserts in the packet distributed with the program guide
    %li
      A 6 sq meter stand in the exhibit area
    %li
      6 passes to the conference

%section#silver
  %h2
    Silver
  %p
    $3000 USD, limited to 3 sponsors.
  %ul
    %li
      Display of your logo in the event program, website, and all
      publications related to the event
    %li
      Up to two inserts in the packet distributed with the program guide
    %li
      Possibility to display a 'roll' banner within the exhibition hall
    %li
      A 4 sq meter stand in the exhibit area
    %li
      3 passes to the conference

%section#bronze
  %h2
    Bronze
  %p
    $1000 USD, unlimited sponsors.
  %ul
    %li
      Display of your logo in the event program, website
    %li
      Up to two inserts in the packet distributed with the program guide
    %li
      Possibility to display a 'roll' banner within the exhibition hall
    %li
      1 passe to the conference

%section#break
  %h2
    Coffee Break
  %p
    $500 USD, limited to 6 sponsors.
  %ul
    %li
      Roll displayed during the break
    %li
      Logo displayed next to the coffee and snacks area
    %li
      Thanking the sponsor when announcing the start and end of the break.

%section#lunch
  %h2
    Lunch
  %p
    $1500 USD (or providing lunch), limited to 2 sponsors.
  %ul
    %li
      Roll displayed during the lunch
    %li
      Logo displayed near the food
    %li
      Thanking the sponsor when announcing the start and end of the lunch

%section#party
  %h2
    After Party
  %p
    We're open to suggestions.
  %ul
    %li
      Roll displayed at the party
    %li
      Naming the party, the "x sponsored party"
    %li
      Logo displayed at the bar
    %li
      Logo in the packet with information about the party

%section#praise
  %p
    RubyConf Uruguay is the main conference organized in 2010 for the
    Ruby Community in the Spanish speaking part of South America. A
    regional conference which will draw many agile developers and
    companies. Developers in this region have extensive ties and clients
    in North America and Europe. It's a great place to find developers and
    promote products in the Spanish speaking ruby developer community.

  %p
    Beyond the sponsorship packages, if you have specific ideas, we'd be
    happy to talk about how you can be involved in sponsoring RubyConf
    Uruguay.
