<ul class="sponsor_logos platinium hidden">
  <li></li>
</ul>

<ul class="sponsor_logos gold">
  <li>
    <a href="http://cuboxsa.com" target="_blank"  >
      <img src="/sponsors/cubox.png" alt="Cubox"/>
    </a>
  </li>
</ul>

<ul class="sponsor_logos silver">
  <li>
    <a href="http://engineyard.com" target="_blank" >
      <img src="/sponsors/engine_yard.png" alt="Engine Yard"  />
    </a>
  </li>
  <li>
    <a href="http://github.com" target="_blank" >
      <img src="/sponsors/github.png" alt="Github"  />
    </a>
  </li>
  <li>
    <a href="http://inconcertcc.com" target="_blank" >
      <img src="/sponsors/inconcertcc.png" alt="InConcert"  />
    </a>
  </li>
</ul>

<ul class="sponsor_logos bronze">
  <li>
    <a href="http://citrusbyte.com" target="_blank" >
      <img src="/sponsors/citrusbyte.png" alt="Citrusbyte"  />
    </a>
  </li>
  <li>
    <a href="http://percona.com" target="_blank" >
      <img src="/sponsors/percona.png" alt="Percona"  />
    </a>
  </li>
  <li>
    <a href="http://wyeworks.com" target="_blank" >
      <img src="/sponsors/wyeworks.png" alt="WyeWorks"  />
    </a>
  </li>
  <li>
    <a href="http://twitter.com/zimmiclabs" target="_blank" >
      <img src="/sponsors/zimmic.png" alt="Zimmic"  />
    </a>
  </li>

</ul>

<ul class="sponsor_logos supports">
  <li>
    <a href="http://cuti.org.uy" target="_blank" >
      <img src="/sponsors/cuti.png" alt="Cuti"  /></li>
  </a>
</ul>

<ul class="sponsor_logos organizers hidden">
  <li></li>
</ul>
