html, body
  padding: 0
  margin: 0
  background-color: #5b5b5b
  color: white
  font-family: "Cantarell", sans-serif

a
  color: white
  &:visited
    color: #aaaaaa
  &:hover
    background-color: #aaaaaa
    color: #333333

header
  background-color: white
  padding-top: 16px
  color: black
  display: block
  h1, h2
    text-align: center
    margin: 0
  h1
    padding-bottom: 16px
  h1 a
    display: block
    height: 200px
    background: url(/logo.png) no-repeat center center
    text-indent: -9999em
    &:hover
      background: url(/logo.png) no-repeat center center
  h2
    padding: 5px 0
    background-color: #942222
    border-bottom: 3px solid #e11f29
    color: white
    font-family: museo-slab-1, museo-slab-2

nav
  background-color: #942222
  border-bottom: 2px solid #e11f29
  padding-bottom: 1px
  ul
    margin: 0 auto
    width: 800px
    padding: 0
    list-style-type: none
    text-align: left
    li
      display: inline
      padding: 4px
    a
      color: white
      padding: 3px 4px
      text-decoration: none
      text-transform: lowercase
      font-size: 14px
      cursor: pointer
      &:visited
        color: white
      &:hover
        background-color: #e11f29 !important
        color: white

nav ul.lang
  margin: -24px auto 0
  text-align: right
  span, a
    font-size: 14px
    padding-left: 22px
    text-transform: lowercase
    background-repeat: no-repeat
  a
    background-position: 2px 8px
  span
    color: #aaa
    background-position: 2px 4px
    cursor: default
  .en a, .en span
    background-image: url(/flags/en.png)
  .es a, .es span
    background-image: url(/flags/es.png)

section
  margin: 36px auto
  display: block
  width: 800px
  h2
    background-color: #666666
    padding: 6px 6px 6px 6px
    margin: 0 -6px
    text-shadow: 1px 1px #5b5b5b

footer
  display: block
  margin: 0 auto
  width: 812px
  border-top: 1px solid #777777
  font-size: 14px
  padding: 8px 6px
  text-align: center
  p
    margin: 0

#welcome p
  background-color: #5293cc
  padding: 8px 12px 12px
  margin: 28px -6px
  font-size: 28px
  line-height: 34px
  text-align: center
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  text-shadow: 1px 1px #3071aa

.pictures img
  border: 1px solid #777
  -moz-box-shadow: 4px 4px 0.5 #333
  -webkit-box-shadow: 1px 1px 4px #333
  margin-right: 21px
  &:last-child
    margin-right: 0
