html, body
  padding: 0
  margin: 0
  background: #5b5b5b
  color: white
  font-family: "Cantarell", sans-serif

a
  color: white
  &:visited
    color: #aaaaaa
  &:hover
    background: #aaaaaa
    color: #333333

header
  background: white
  padding-top: 16px
  color: black
  display: block
  h1, h2
    text-align: center
    margin: 0
  h1
    padding-bottom: 16px
  h1 a
    display: block
    height: 200px
    background: url(/logo.png) no-repeat center center
    text-indent: -9999em
    &:hover
      background: url(/logo.png) no-repeat center center
  h2
    padding: 5px 0
    background: #942222
    border-bottom: 3px solid #e11f29
    color: white
    font-family: museo-slab-1, museo-slab-2

nav ul
  margin: 0 auto
  padding: 0
  background: #942222
  list-style-type: none
  text-align: center
  border-bottom: 2px solid #e11f29
  li
    display: inline
    padding: 4px
  a
    color: white
    padding: 3px 4px
    text-decoration: none
    text-transform: lowercase
    font-size: 14px
    cursor: pointer
    &:visited
      color: white
    &:hover
      background: #e11f29
      color: white

section
  margin: 36px auto
  display: block
  width: 800px
  h2
    background: #666666
    padding: 6px 6px 6px 6px
    margin: 0 -6px
    text-shadow: 1px 1px #5b5b5b

footer
  display: block
  margin: 0 auto
  width: 812px
  border-top: 1px solid #777777
  font-size: 14px
  padding: 8px 6px
  text-align: center
  p
    margin: 0

#welcome p
  background: #5293cc
  padding: 8px 12px 12px
  margin: 28px -6px
  font-size: 28px
  line-height: 34px
  text-align: center
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  text-shadow: 1px 1px #3071aa

.pictures img
  border: 1px solid #777
  -moz-box-shadow: 4px 4px 0.5 #333
  -webkit-box-shadow: 1px 1px 4px #333
  margin-right: 21px
  &:last-child
    margin-right: 0
