%section#where_and_hostels

  %h2 ¿Dónde es el evento?

  %h3 Auditorio de la Torre de las Telecomunicaciones de Antel

  %p El evento se llevará a cabo en una de las salas más modernas de Montevideo preparada para eventos como el nuestro. El auditorio está preparado para que todos estemos cómodos y habrá Wi-Fi para mantener nuestra adicción a internet.

  %img{:src => '/images/torre.jpg', :class => 'picture'}

  %a{:name => 'map'}
  %div.map
    <iframe width="405" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.899166,-56.19421&amp;spn=0.023934,0.034676&amp;z=14&amp;output=embed"></iframe><br /><small>Ver <a target="new" href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.899166,-56.19421&amp;spn=0.023934,0.034676&amp;z=14" style="color:#0000FF;text-align:left">RubyConf Uruguay - Ver mapa completo</a> en un mapa más grande</small>

  %h3 Hoteles

  %p Aquí hay una lista de hoteles en los que hemos conseguido un precio promocional para los asistentes al evento. Para acceder a estos precios, deben ponerse en contacto con #{email "Alejandra Fernández", "afernandez@exitoopc.com"} de la empresa organizadora de eventos "Exito" para que ella gestione su reserva.

  %div.hotel.clearFix
    %h4{:class => 'three_stars'} Hotel Europa

    %div.details
      %p Colonia 1341
      %p (598) 2902 0045
      %a{:href => 'http://www.hoteleuropa.com.uy'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.895928,-56.190047&spn=0.020204,0.03768&z=14&iwloc=0004903a19d7f09aeafab'} Ver mapa

    %div.rates
      %h5 Tarifas
      %ul
        %li
          Single
          %span.amount 42
          %span.currency U$S
        %li
          Doble
          %span.amount 52
          %span.currency U$S
        %li
          Triple
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'three_stars'} Hotel Lancaster

    %div.details
      %p Plaza Cagancha 1334
      %p (598) 2902 1054
      %a{:href => 'http://www.lancasterhotel.com.uy/'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.899166,-56.19421&spn=0.040125,0.077162&z=14&iwloc=000490b2e2ff45df857c2'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single
          %span.amount 55
          %span.currency U$S
        %li
          Doble
          %span.amount 64
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Balmoral Plaza

    %div.details
      %p Plaza Cagancha 1126
      %p (598) 2902 2393
      %a{:href => 'http://www.balmoral.com.uy'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.898251,-56.190047&spn=0.020204,0.03768&z=14&iwloc=00049039c953f8aafcbf1'} Ver mapa

    %div.rates
      %h5 Tarifas
      %ul
        %li
          Single Superior
          %span.amount 50
          %span.currency U$S
        %li
          Doble Superior
          %span.amount 70
          %span.currency U$S
        %li
          Single Ejecutiva
          %span.amount 80
          %span.currency U$S
        %li
          Doble Ejecutiva
          %span.amount 90
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Ibis

    %div.details
      %p La Cumparsita 1473
      %p (598) 2413 7000
      %a{:href => 'http://www.ibishotel.com/gb/hotel-3539-ibis-montevideo/index.shtml'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.902827,-56.178589&spn=0.038364,0.077162&z=14&iwloc=000490b31a0ab272702e6'} Ver mapa

    %div.rates
      %h5 Rates
      %ul
        %li
          Single o Doble
          %span.amount 71
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Lafayette

    %div.details
      %p Soriano 1170
      %p (598) 2902 4646
      %a{:href => 'http://www.lafayette.com.uy'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.900856,-56.19421&spn=0.034211,0.077162&z=14&iwloc=00049061bfc54aa5c77fe'} Ver mapa

    %div.rates
      %h5 Tarifas
      %ul
        %li
          Single
          %span.amount 57
          %span.currency U$S
        %li
          Single Superior
          %span.amount 63
          %span.currency U$S
        %li
          Doble Standard
          %span.amount 72
          %span.currency U$S
        %li
          Doble Superior
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'five_stars'} Radisson Montevideo Victoria Plaza Hotel

    %div.details
      %p Plaza Independencia 759
      %p (598) 2902 0111
      %a{:href => 'http://www.radisson.com/montevideouy'} Sitio web
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.896034,-56.190047&spn=0.020204,0.03768&z=14&iwloc=0004903a1df4cee9535d8'} Ver mapa

    %div.rates
      %h5 Tarifas
      %ul
        %li
          Single
          %span.amount 155
          %span.currency U$S
        %li
          Doble
          %span.amount 175
          %span.currency U$S
