%section#where_and_hostels

  %h2 Where it is?

  %h3 Auditorium Of The Telecommunications Tower, Montevideo, Uruguay

  %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged

  %img{:src => '/images/torre.jpg', :class => 'picture'}

  %a{:name => 'map'}
  %div.map
    <iframe width="405" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.886248,-56.192708&amp;spn=0.012321,0.018239&amp;z=15&amp;iwloc=0004903a66f328e5a0390&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.886248,-56.192708&amp;spn=0.012321,0.018239&amp;z=15&amp;iwloc=0004903a66f328e5a0390&amp;source=embed" style="color:#0000FF;text-align:left">RubyConf Uruguay - See Full Map</a> in a larger map</small>


  %h3 Hotels

  %div.hotel.clearFix
    %h4{:class => 'three_stars'} Hotel Europa

    %div.details
      %p Colonia 1341
      %p Montevideo, Uruguay
      %p (598) 2902 1222
      %a{:href => 'http://hoteleuropa.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.895928,-56.190047&spn=0.020204,0.03768&z=15&iwloc=0004903a19d7f09aeafab'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Room Single
          %span.amount 42
          %span.currency U$S
        %li
          Room Doble
          %span.amount 52
          %span.currency U$S
        %li
          Room Triple
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Balmoral

    %div.details
      %p Hector Gutierrez Ruiz
      %p Montevideo, Uruguay
      %p (598) 2902 2393
      %a{:href => 'http://balmoral.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.898251,-56.190047&spn=0.020204,0.03768&z=15&iwloc=00049039c953f8aafcbf1'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Room Single Superior
          %span.amount 50
          %span.currency U$S
        %li
          Room Doble Superior
          %span.amount 70
          %span.currency U$S
        %li
          Room Single Ejecutiva
          %span.amount 80
          %span.currency U$S
        %li
          Room Doble Ejecutiva
          %span.amount 90
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Lafayette

    %div.details
      %p Soriano 1170
      %p Montevideo, Uruguay
      %p (598) 2902 4646
      %a{:href => 'http://lafayette.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.898251,-56.190047&spn=0.020204,0.03768&z=15&iwloc=0004903a42285e4313d19'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Room Single
          %span.amount 57
          %span.currency U$S
        %li
          Room Single Superior
          %span.amount 63
          %span.currency U$S
        %li
          Room Doble Standard
          %span.amount 72
          %span.currency U$S
        %li
          Room Doble Superior
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'five_stars'} Radisson Montevideo Victoria Plaza Hotel

    %div.details
      %p Plaza Independencia 759
      %p Montevideo, Uruguay
      %p (598) 2902 0111
      %a{:href => 'http://www.radisson.com/montevideouy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.896034,-56.190047&spn=0.020204,0.03768&z=15&iwloc=0004903a1df4cee9535d8'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Room Single
          %span.amount 155
          %span.currency U$S
        %li
          Room Doble
          %span.amount 175
          %span.currency U$S


