%section#welcome
  %p
    We have amazing talks for every level of expertise!
    %br
    See for yourself

%section#agenda
  .talks
    %h2 Agenda
    %p
      We will provide simultaneous English-Spanish translation (and
      Spanish-English) so you will have access to all the talks.

    - @agenda.each do |date, talks|
      .talk
        %h3= date
        - prior_date = date
        - talks.each do |talk|
          %h4= talk.fetch(:time)
          %h5
            %a{ :id => talk.fetch(:index), :href => "##{talk.fetch(:index)}" }= talk.fetch(:title)
          .summary= talk.fetch(:summary)
