%section#events
  #welcome
    %p Are you looking for something to do when conference ends?

  %div.party
    %h2 Saturday night Cubox invites you to the RubyConf Uruguay after-party.

    %div.picture
      %img{:src => '/images/party.png', :class => 'picture'}

    %h4.when Saturday 30/10 from 21pm
    %p
      We close the conference with music, food, drinks, Wi-Fi and a lot of geek socialization.
      Food will be served until midnight.

    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.

  %div.hackday
    %h2 Sunday all day we're doing a Hack-Day in CoworkingMVD.

    %div.picture
      %img{:src => '/images/hackday.jpg', :class => 'picture'}

    %h4.when Sunday 31/10 from 10:30am
    %p We open CoworkingMVD's doors to share ideas, build things, and talk about technology.

    %h4.where Coworking Montevideo
    %p.where Bulevar España 2529 Esq. Libertad.
