%section#welcome
  %p
    Welcome to the second conference organized in Uruguay for exploring Ruby, the
    Web, and Agile Methodologies.

%section#where
  %h2 Where

  #gallery
  %p Torre de las Telecomunicaciones auditorium, Montevideo, Uruguay.
%section#when
  %h2 When

  %p.title November 11th-12th
  %p.subtitle from 9 AM to 8 PM
  %p
    These will be two intensive days of learning and exchange with the attendees
    and speakers, so mark your calendars!

%section#register
  %h2 Registration
  %p.title Registrations are open!
  %p
    %a{:href => "https://eventioz.com/events/rubyconf-uruguay-2011/registrations/new"} REGISTER HERE!
    %p In every case lunch is included and you can pay by paypal or credit card.
