%section#welcome
  %p
    We have a great lineup of speakers!
    %br
    See for yourself

%section#translation
  %p
    We will provide simultaneous English-Spanish translation (and
    Spanish-English) so you will have access to all the talks.

%section#speakers
  .speaker#konstantin
    %h2 Konstantin Haase
    %img.avatar(alt="Konstantin Haase" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3616/headshot.png")
    %p As current maintainer of Sinatra, Konstantin is an Open Source developer by heart.  Konstantin is currently studying IT Systems Engineering at the Hasso Plattner Institute in Potsdam, Germany, and works part time as a software engineer at finnlabs in Berlin.
    /%p.twitter= speaker_twitter "tenderlove"

  .speaker#jano
    %h2 Jano González
    %img.avatar(alt="Jano Gonzále" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3617/foto.png")
    %p Jano González es desarrollador Java hace 11 años, recientemente enamorado de Ruby. Ha desarrollado desde pequeñas aplicaciones web hasta complejas arquitecturas enterprise, actualmente se desempeña como desarrollador en Continuum (http://www.continuum.cl).
    %p En su tiempo libre toca música y escribe en el blog Gema Roja (http://gemaroja.com)

  .speaker#rebagliatte
    %h2 Verónica Rebagliatte
    %img.avatar(alt="Verónica Rebagliatt" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3618/rebagliatte.jpg")
    %p
      Hi there! I am a UI designer and developer from Uruguay.
      I've been proud contributor in over 40 projects until now and counting. At the time being I'm focused on interaction design an usability advisories.
    %p I just love my work and really consider that it defines a great deal of who I am.

  .speaker#pedro
    %h2 Pedro Belo
    %img.avatar(alt="Pedro Belo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3619/pedrobelo.jpeg")
    %p Another dude that took computer science with aspirations to write games, decided to adopt Ruby after realizing it's actually more fun to write business applications than games.
    %p Worked as a Ruby consultant in Brazil and in the US, until joining Heroku in 2008 - where he takes projects ranging from Node.js support to organizing Starcraft and Poker nights.

  .speaker#blake
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3620/blake_mizerany.jpg")
    %p I created Sinatra (www.sinatrarb.com). I saw Elvis at a gas station the other day. I speak Ruby, Go, Erlang, JavaScript, C, C++, and more. My preferred form of transportation is Git. Heroku (heroku.com) is where I hang my hat.
    %p My Mom thinks I’m totally awesome. You didn’t see me.

  .speaker#tiago
    %h2 Tiago Macedo
    %img.avatar(alt="Tiago Macedo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3621/P1020059.JPG")
    %p I've been working with Ruby (and Rails) since 2005, initially at the startup I co-founded during university (http://webreakstuff.com/) and later on at Soocial and 3scale Networks.
    %p My focus has been mainly on application backends, APIs and data storage. In the meanwhile I wrote a book about Redis (http://oreilly.com/catalog/0636920020127).

  .speaker#schacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3622/chacon.jpg")
    %p

  .speaker#sanderson
    %h2 Stephen Anderson
    %img.avatar(alt="Stephen Anderson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3623/stephen_anderson.png")
    %p

  .speaker#mojombo
    %h2 Tom Preston-Werner
    %img.avatar(alt="Tom Preston-Werner" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3624/tomstache.png")
    %p

  .speaker#thais
    %h2 Thais Camilo
    %img.avatar(alt="Thais Camilo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3625/thais.jpg")
    %p

  .speaker#nigel
    %h2 Nigel Fernandes
    %img.avatar(alt="Nigel Fernandes" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3626/profile.png")
    %p

  .speaker#harold
    %h2 Harold Giméne
    %img.avatar(alt="Harold Giméne" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3627/harold-gimenez.jpeg")
    %p

  .speaker
    %h2 Nick Sutterer
    %img.avatar(alt="Nick Sutterer" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3628/nick-stterer.jpeg")
    %p

  .speaker
    %h2 Ian McFarland
    %img.avatar(alt="Ian McFarland" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3629/Ian_Square.jpg")
    %p

  .speaker
    %h2 Sean Cribbs
    %img.avatar(alt="Sean Cribbs" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3636/seancribbs-square.jpg")
    %p

  .speaker
    %h2 Alvaro Mouriñ
    %img.avatar(alt="Alvaro Mouriñ" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3630/alvaro.jpg")
    %p

  .speaker
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3631/evan-137x137.jpg")
    %p

  .speaker
    %h2 Danish Khan
    %img.avatar(alt="Danish Khan" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3632/danish_khan.jpg")
    %p

  .speaker
    %h2 Alvaro Gil
    %img.avatar(alt="Alvaro Gil" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3633/profile_copy.png")
    %p

  .speaker
    %h2 Santiago Pastorino / Jorge Bejar
    %img.avatar(alt="Santiago Pastorino" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3634/santiago.jpg")
    %img.avatar(alt="Jorge Bejar" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3634/santiago.jpg")
    %p
