%section#welcome
  %p
    We have a great lineup of speakers!
    %br
    See for yourself

%section#translation
  %p
    We will provide simultaneous English-Spanish translation (and
    Spanish-English) so you will have access to all the talks.

%section#speakers
  .speaker#konstantin
    %h2 Konstantin Haase
    %img.avatar(alt="Konstantin Haase" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3616/headshot.png")
    %p As current maintainer of Sinatra, Konstantin is an Open Source developer by heart.  Konstantin is currently studying IT Systems Engineering at the Hasso Plattner Institute in Potsdam, Germany, and works part time as a software engineer at finnlabs in Berlin.
    /%p.twitter= speaker_twitter "tenderlove"

  .speaker#jano
    %h2 Jano González
    %img.avatar(alt="Jano González" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3617/foto.png")
    %p Jano González it's a 11 years Java developer, he recentrly fall in love for Ruby. He developed from small web apps to complex enterprise solutions, he is currently working at Continuum (http://www.continuum.cl).
    %p In his spare time he plays music and writes in his blog Gema Roja (http://gemaroja.com)

  .speaker#rebagliatte
    %h2 Verónica Rebagliatte
    %img.avatar(alt="Verónica Rebagliatt" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3618/rebagliatte.jpg")
    %p
      Hi there! I am a UI designer and developer from Uruguay.
      I've been proud contributor in over 40 projects until now and counting. At the time being I'm focused on interaction design an usability advisories.
    %p I just love my work and really consider that it defines a great deal of who I am.

  .speaker#pedro
    %h2 Pedro Belo
    %img.avatar(alt="Pedro Belo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3619/pedrobelo.jpeg")
    %p Another dude that took computer science with aspirations to write games, decided to adopt Ruby after realizing it's actually more fun to write business applications than games.
    %p Worked as a Ruby consultant in Brazil and in the US, until joining Heroku in 2008 - where he takes projects ranging from Node.js support to organizing Starcraft and Poker nights.

  .speaker#blake
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3620/blake_mizerany.jpg")
    %p I created Sinatra (www.sinatrarb.com). I saw Elvis at a gas station the other day. I speak Ruby, Go, Erlang, JavaScript, C, C++, and more. My preferred form of transportation is Git. Heroku (heroku.com) is where I hang my hat.
    %p My Mom thinks I’m totally awesome. You didn’t see me.

  .speaker#tiago
    %h2 Tiago Macedo
    %img.avatar(alt="Tiago Macedo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3621/P1020059.JPG")
    %p I've been working with Ruby (and Rails) since 2005, initially at the startup I co-founded during university (http://webreakstuff.com/) and later on at Soocial and 3scale Networks.
    %p My focus has been mainly on application backends, APIs and data storage. In the meanwhile I wrote a book about Redis (http://oreilly.com/catalog/0636920020127).

  .speaker#schacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3622/chacon.jpg")
    %p Scott Chacon is the VP of Git at GitHub. He is the author of the Pro Git book by Apress (progit.org), the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book.
    %p Scott has presented all over the world. LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails, Euruko to drop a few names. He also does corporate training on Git all over the where.
    %p Scott is not an actor on Mad Men, and refuses to participate in Karaoke.

  .speaker#sanderson
    %h2 Stephen Anderson
    %img.avatar(alt="Stephen Anderson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3623/stephen_anderson.png")
    %p Stephen is a teacher and mentor who loves bringing new people to Rails. He has taught Rails at Madison College and is a founder at Bendyworks (http://bendyworks.com).

  .speaker#mojombo
    %h2 Tom Preston-Werner
    %img.avatar(alt="Tom Preston-Werner" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3624/tomstache.png")
    %p My name is Tom Preston-Werner. I cofounded GitHub and invented Gravatars. I like tater tots and beer.

  .speaker#thais
    %h2 Thais Camilo
    %img.avatar(alt="Thais Camilo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3625/thais.jpg")
    %p The path that led Thais to her passion for Ruby on Rails began with her learning Perl to organize her extensive book and music collections.
    %p This quickly led her to pursue a Bachelor’s Degree in Computer Science (rather than taking over the family business) and to work with software development in C, Perl, Python and PHP. She then journeyed to explore some Java until finally finding (and falling in love with) Ruby on Rails.
    %p Born Brazilian, she moved to Chile to become a Rocketeer and feel the snow for the first time in the Andes. She loves helping people, never refraining from teaching whatever is necessary to whoever needs

  .speaker#nigel
    %h2 Nigel Fernandes
    %img.avatar(alt="Nigel Fernandes" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3626/profile.png")
    %p Nigel is a senior consultant and asylum inmate at ThoughtWorks Australia.
    %p In the last five years he has worked across the UK, Germany, Australia and India with start-ups, global telecommunication leaders, e-commerce giants and even high profile government agencies.
    %p He received Ruby enlightenment in 2006 and after years in Java and .Net wastelands, he's decided to atone for his past. His focus for the last few years has been introducing Ruby into traditional enterprise Java stacks.

  .speaker#harold
    %h2 Harold Giménz
    %img.avatar(alt="Harold Giménze" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3627/harold-gimenez.jpeg")
    %p Harold was born in Venezuela and moved to Boston to attend engineering school. Today, he is a web developer at thoughtbot where he writes code and runs training and workshops.

  .speaker
    %h2 Nick Sutterer
    %img.avatar(alt="Nick Sutterer" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3628/nick-stterer.jpeg")
    %p Nick Sutterer appreciates the beauty of elegant code, and the value of open source software. Through his tireless development and advocacy of the Cells and Apotomo gems, he has brought the concepts of component-oriented UI development to the world of Rails, proving that there should be no such thing as a double-render error, and that one need not be slave to the great monolithic view mentality. Also, he would like to have beer with you.

  .speaker
    %h2 Ian McFarland
    %img.avatar(alt="Ian McFarland" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3629/Ian_Square.jpg")
    %p I started working on networked Hypertext systems in 1989, working with Ted Nelson at Autodesk. I was on the launch team at HotWired, and was one of the 4 people involved in the decision that saddled the world with 468×60 banner ads for all time. (It looked nice on the page with the HotWired layout and Netscape 0.94 beta.)
    %p I joined Friendster in 2004 as employee #4, and when we got around to titles, I became their Chief Architect, only to leave when our new VP of Engineering moved us to PHP+XSL.
    %p Since then, I’ve been at Pivotal Labs, where I’m a Principal, and VP of Technology. I’ve worked on a number of projects for high-profile clients, and designed a number of applications.
    %p Starting in June 2011 Ian joined the japanese VC & incubator company Digital Garage as it's CTO

  .speaker
    %h2 Sean Cribbs
    %img.avatar(alt="Sean Cribbs" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3636/seancribbs-square.jpg")
    %p Sean Cribbs is a Developer Advocate for Basho Technologies, where he hacks in Ruby, Erlang, and JavaScript to solve hard problems for customers and the open-source community around Riak, Basho's distributed datastore. Before Basho, Sean was a freelance Ruby and Rails developer, maintainer of the popular open-source Radiant CMS software, and erstwhile music theorist, composer, choral conductor and pianist.
    %p Sean is a graduate of University of Tulsa, Oklahoma, USA and currently lives in central New Jersey, USA.

  .speaker
    %h2 Alvaro Mouriño
    %img.avatar(alt="Alvaro Mouriñ" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3630/alvaro.jpg")
    %p  I'm a hacktivist, free software movement militant and big fan of standards and open formats. Constantly teaching myself things I don't know.
    %p After many unsuccessful attempts of learning cool disciplines ended up as a programmer. I compulsively plan unprofitable projects and tend to disagree with majorities.
    %p My goal in life is to learn every human language of the world.

  .speaker
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3631/evan-137x137.jpg")
    %p Evan is a hacker who started Cubox SA and helped start CoworkingMVD. Before that he was Architect of Yahoo FireEagle and Lead Developer at Odeo.com

  .speaker
    %h2 Danish Khan
    %img.avatar(alt="Danish Khan" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3632/danish_khan.jpg")
    %p I started using Ruby the same way as a lot of people that are part of this community. When I learned about Rails. I immediately installed Locomotive on my Mac, was extremely excited to find out I already had Ruby 1.8.6 preinstalled on my iBook G4 and started hacking on my first Rails project. I find teaching to be enjoyable and have been participating in my local RailsBridge to help out as much as I can. Currently I am working at Engine Yard helping out our current customers and potential customers with figuring out the best setup and architecture for their applications so that they have an awesome and smooth experience and can get to hacking on their project as quickly as possible.

  .speaker
    %h2 Alvaro Gil
    %img.avatar(alt="Alvaro Gil" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3633/profile_copy.png")
    %p Software Developer as a career, Alvaro worked with different technologies in the past for GIS and 3D. He is currently developing web and mobile apps with Ruby as a consultant for Cubox.

  .speaker
    %h2
      Santiago Pastorino / Jorge Bejar
    %img.avatar(alt="Santiago Pastorino" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3634/santiago.jpg")
    %img.avatar(alt="Jorge Bejar" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3635/jorge.jpg")
    %p Santiago is a Rails Core Team Member, devoted Open Source developer and Co-Founder of WyeWorks. He's a well rounded Software Engineer, perfectionist and passionate about creating extremely high quality products using the very best practices.
    %p Jorge is a swiss army knife Software Engineer, who has been successfully put to the test as a developer and team leader in many fields of the vast computer science world. Now as a former games developer, he brings all his mad skills to our Rails ecosystem.

  .speaker
    %h2 Ben Orenstein
    %img.avatar(alt="Ben Orenstein" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3691/thoughtbot_headshot.png")
    %p Ben is a vim evangelist, Apple fanatic, and web developer for thoughtbot. He co-founded the Boston Vim Meetup, finished 11th in the Rails Rumble, and is flirting with entering the top 50 Rails committers. He believes in MVPs, A/B testing, and remapping caps lock to escape.
