%section#welcome
  %p
    We're looking for sponsors! If you're interested or have a proposal,
    please don't hesitate to #{email "send us an email"}

%section#praise
  %p
    The Uruguayan Ruby User's Group organizes for second time RubyConf Uruguay,
    the leading technology about Ruby and Agile methodologies in Uruguay and one
    of the most reknowned in Latin America.

  %p
    Part of the #{link_to "RubySur Tour", "http://tour.rubysur.org"}, it will
    count with the presence of developers from the area and famous speakers from
    around the world with experience on technologies like Ruby, JRuby, Ruby on
    Rails, distributed source control (Git), automated testing, agile
    methodologies (like SCRUM), JavaScript, SQL vs NoSQL, etc.

  %p
    In its first edition, RubyConf Uruguay, with the support of established
    local companies like Artech, InConcert and Cubox, with the sponsorship of
    reknowned companies like CistrusByte, Github and BlueBox, brought together
    over 250 developers between students and professionals and had ilustrous
    speakers from the United States, Argentina, Chile, Paraguay and Brasil,
    among others. This year we're organizing an even larger event that will
    result in an even richer experience both to Ruby developers as developers
    from different platforms.

  %p
    We hope you can join us! If any of the following sponsorship plans doesn't
    suit you, #{email "get in touch with us"}—we're open to proposals!

%section#platinum
  %h2
    Platinum
  %p
    $5000 USD, limited to 1 sponsor.
  %ul
    %li
      15 minutes talk at the start of the second day.
    %li
      Banner Ad with link on website.
    %li
      Company logo on prominent rollouts/banners in the conference and exhibit
      hall. (The sponsor must provide them.)
    %li
      200 word descripton on the website.
    %li
      Company name and logo on website.
    %li
      Company logo on T-Shirts, attendee badges, programs, and merchandising.
    %li
      On-stage mentions each day.
    %li
      6 passes to the conference.

%section#gold
  %h2
    Gold
  %p
    $2500 USD.
  %ul
    %li
      Company logo on rollouts/banners in the conference and exhibit hall. (The
      sponsor must provide them.)
    %li
      100 word descripton on the website.
    %li
      Company name and logo on website.
    %li
      Company logo on T-Shirts, attendee badges, programs, and merchandising.
    %li
      On-stage mentions each day.
    %li
      4 passes to the conference.

%section#silver
  %h2
    Silver
  %p
    $1000 USD.
  %ul
    %li
      Company logo on rollouts/banners in the exhibit hall. (The sponsor must
      provide them.)
    %li
      50 word descripton on the website.
    %li
      Company name and logo on website.
    %li
      Company logo on T-Shirts, attendee badges, programs, and merchandising.
    %li
      On-stage mentions each day.
    %li
      2 passes to the conference.

%section#bronze
  %h2
    Bronze
  %p
    $500 USD.
  %ul
    %li
      Company logo on small rollouts/banners in the exhibit hall. (The sponsor
      must provide them.)
    %li
      Company logo on website.
    %li
      Company logo on T-Shirts, programs, and merchandising.
    %li
      1 pass to the conference.
