%section#welcome
  %p
    We're looking for sponsors! If you're interested or have a proposal,
    please don't hesitate to #{email "send us an email"}

%section#praise
  %p
    The Uruguayan Ruby User's Group organizes for second time RubyConf Uruguay,
    the leading technology about Ruby and Agile methodologies in Uruguay and one
    of the most reknowned in Latin America.

  %p
    Part of the #{link_to "RubySur Tour", "http://tour.rubysur.org"}, it will
    count with the presence of developers from the area and famous speakers from
    around the world with experience on technologies like Ruby, JRuby, Ruby on
    Rails, distributed source control (Git), automated testing, agile
    methodologies (like SCRUM), JavaScript, SQL vs NoSQL, etc.

  %p
    In its first edition, RubyConf Uruguay, with the support of established
    local companies like Artech, InConcert and Cubox, with the sponsorship of
    reknowned companies like CistrusByte, Github and BlueBox, brought together
    over 250 developers between students and professionals and had ilustrous
    speakers from the United States, Argentina, Chile, Paraguay and Brasil,
    among others. This year we're organizing an even larger event that will
    result in an even richer experience both to Ruby developers as developers
    from different platforms.

  %p
    We hope you can join us! If any of the following sponsorship plans doesn't
    suit you, #{email "get in touch with us"}—we're open to proposals!

%section#platinum
%section#gold
%section#silver
  %h2 GitHub
  %p
    GitHub is version control for software development and so much more. Whether it's a weekend side project, your favorite open source
    library, a startup destined for glory, or your company's app, GitHub helps everyone work together with tools for easier collaboration and more visibility. Check it out — open source is free!
%section#bronze
