%section#where_and_hostels

  %h2 Where is it?

  %h3 Auditorio de la Torre de las Telecomunicaciones de Antel

  %p The conference will take place on one of the most modern auditoriums in Montevideo prepared for events like ours. The auditorium is ready for us and there will be Wi-Fi to handle our internet addiction.

  %img{:src => '/images/torre.jpg', :class => 'picture'}

  %a{:name => 'map'}
  %div.map
    <iframe width="405" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.899166,-56.19421&amp;spn=0.023934,0.034676&amp;z=14&amp;output=embed"></iframe><br /><small>View <a target="new" href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.899166,-56.19421&amp;spn=0.023934,0.034676&amp;z=14" style="color:#0000FF;text-align:left">RubyConf Uruguay - See full map</a> in a larger map</small>

  %h3 Hotels

  %p Here's a list of hotels where you can get a special rate. To get these rates, you will need to email #{email "Alejandra Fernández", "afernandez@exitoopc.com"} from the events organizations firm "Exito" so that she makes your reservation.

  %div.hotel.clearFix
    %h4{:class => 'three_stars'} Hotel Europa

    %div.details
      %p Colonia 1341
      %p (598) 2902 0045
      %a{:href => 'http://www.hoteleuropa.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.895928,-56.190047&spn=0.020204,0.03768&z=14&iwloc=0004903a19d7f09aeafab'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single
          %span.amount 42
          %span.currency U$S
        %li
          Double
          %span.amount 52
          %span.currency U$S
        %li
          Triple
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'three_stars'} Hotel Lancaster

    %div.details
      %p Plaza Cagancha 1334
      %p (598) 2902 1054
      %a{:href => 'http://www.lancasterhotel.com.uy/'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.899166,-56.19421&spn=0.040125,0.077162&z=14&iwloc=000490b2e2ff45df857c2'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single
          %span.amount 55
          %span.currency U$S
        %li
          Double
          %span.amount 64
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Balmoral Plaza

    %div.details
      %p Plaza Cagancha 1126
      %p (598) 2902 2393
      %a{:href => 'http://www.balmoral.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.898251,-56.190047&spn=0.020204,0.03768&z=14&iwloc=00049039c953f8aafcbf1'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single Superior
          %span.amount 50
          %span.currency U$S
        %li
          Double Superior
          %span.amount 70
          %span.currency U$S
        %li
          Single Executive
          %span.amount 80
          %span.currency U$S
        %li
          Double Executive
          %span.amount 90
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Ibis

    %div.details
      %p La Cumparsita 1473
      %p (598) 2413 7000
      %a{:href => 'http://www.ibishotel.com/gb/hotel-3539-ibis-montevideo/index.shtml'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.902827,-56.178589&spn=0.038364,0.077162&z=14&iwloc=000490b31a0ab272702e6'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single or Double
          %span.amount 71
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'four_stars'} Hotel Lafayette

    %div.details
      %p Soriano 1170
      %p (598) 2902 4646
      %a{:href => 'http://www.lafayette.com.uy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.900856,-56.19421&spn=0.034211,0.077162&z=14&iwloc=00049061bfc54aa5c77fe'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single
          %span.amount 57
          %span.currency U$S
        %li
          Single Superior
          %span.amount 63
          %span.currency U$S
        %li
          Double Standard
          %span.amount 72
          %span.currency U$S
        %li
          Double Superior
          %span.amount 78
          %span.currency U$S

  %div.hotel.clearFix
    %h4{:class => 'five_stars'} Radisson Montevideo Victoria Plaza Hotel

    %div.details
      %p Plaza Independencia 759
      %p (598) 2902 0111
      %a{:href => 'http://www.radisson.com/montevideouy'} Website
      %a{:class => 'link-to-google-map', :href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114189880581873191413.00049039c94fc2d39375a&ll=-34.896034,-56.190047&spn=0.020204,0.03768&z=14&iwloc=0004903a1df4cee9535d8'} See Map

    %div.rates
      %h5 Rates
      %ul
        %li
          Single
          %span.amount 155
          %span.currency U$S
        %li
          Double
          %span.amount 175
          %span.currency U$S
