section,
article,
header,
footer,
nav,
aside,
hgroup {
  display: block;
}
img {
  border: 0 none;
}
html {
  background: transparent url(../images/bg.gif) repeat;
}
body {
  background: transparent url(../images/map.png) no-repeat center top;
}
html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font: 1em/1.25em Helvetica, 'Helvetica Neue', Arial, sans-serif;
}
a {
  color: white;
}
a:visited {
  color: #aaaaaa;
}
a:hover {
  background-color: #aaaaaa;
  color: #333333;
}
.sponsor_logos {
  width: 200px;
  background-color: #fff;
  list-style-type: none;
  padding: 7px 0;
  margin-bottom: 10px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.4);
  box-shadow: 0px 0px 4px rgba(0,0,0,.4);
}

.sponsor_logos.gold{
  border: 5px solid gold;
}

.sponsor_logos.silver {
  border: 5px solid silver;
}

.sponsor_logos.bronze {
  border: 5px solid #9C6963;
}

.sponsor_logos.supports {
  border: 5px solid #99CC33;
}

.sponsor_logos li {
  margin-bottom: 1em;
}
.sponsor_logos li:last-child {
  margin-bottom: 0;
}
.sponsor_logos img {
  display: block;
  margin: auto;
  padding: 5px 0;
}
.sponsor_logos a:hover {
  background: none;
  color: inherit;
}
nav {
  display: block;
  height: 50px;
  background-color: #516a74;
  -webkit-box-shadow: 0px 5px 2px rgba(0,0,0,.2);
  -moz-box-shadow: -5px 5px 5px rgba(0,0,0,.2);
}/*BUG SOMBRA FF  */
nav ul {
  margin: 0 auto;
  width: 960px;
  padding: 0;
  list-style-type: none;
  text-align: right;
}
nav ul li {
  /*display: inline;*/
  position: relative;
  float: right;
}
nav ul a {
  border-right: 1px solid #455a62;
  border-left: 1px solid #637982;
  display: block;
  padding: 15px 10px 15px 10px;
  color: #b9d0d6;
  font-size: 1.1em;
  text-shadow: #273337 0px -1px 1px;
  text-decoration: none; 
  cursor: pointer;
}
nav ul a:visited {
  color: white;
}
nav ul a:hover {
  border-left: 1px solid #224451;
  background-color: #224451;
  color: white;
}
nav li.lang {
  border: none;
  width: 40px;
}
nav li.lang ul {
  width: 20px;
  margin: 0;
  padding: 8px 0 0 0;
  border: none;
}
nav ul li.lang ul li {
  padding: 2px 10px;
  text-align: left;
  float: none;
}
nav li.lang ul li a {
  margin: 0;
  padding: 0;
  font-size: .75em;
  border: none;
  width: 20px;
  height: 20px;
  text-align: left;
  display: block;
  text-indent: -9000px;
  border: 2px solid #516a74;
}
nav li.lang ul li span {
  font-size: .75em;
  color: #aaaaaa;
  cursor: default;
  display: block;
  text-indent: -9000px;
  border: 2px solid #1b2e35;
}
nav li.lang .en a,
nav li.lang .en span {
  width: 16px;
  height: 11px;
  background: transparent url(../flags/en.png) no-repeat right center;
}
nav li.lang .es a,
nav li.lang .es span {
  width: 16px;
  height: 11px;
  background: transparent url(../flags/es.png) no-repeat right center;
}
/*
nav li.lang li {
  border: none;
  display: block;
}
nav li.lang span {

  background: red;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -9999em;
}
nav li.lang span,
nav li.lang a {
  font-size: 14px;
  padding-left: 22px;
  text-transform: lowercase;
  background-repeat: no-repeat;
}
nav li.lang a {
  background-position: 2px 8px;
}
nav li.lang span {
  color: #aaaaaa;
  background-position: 2px 4px;
  cursor: default;
}
*/
        
        
header {
  display: block;
  height: 245px;
  border-bottom: 1px solid #2d4047;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 600, from(rgba(142,191,210,.2)), to(rgba(0,0,0,.3)));
}
header h1,
header h2,
header h3 {
  margin: 0px;
}
header h1 {
  width: 268px;
  height: 205px;
  left: 50%;
  top: 0px;
  margin-left: -480px;
  position: absolute;
  -webkit-box-shadow: 0px 5px 5px #192529;
  -moz-box-shadow: 0px 5px 5px #192529;
}
header h1 a {
  width: 268px;
  height: 205px;
  display: block;
  background: white url(../brand/logo-2011.png) no-repeat center center;
  text-indent: -9999em;
}
header h1 a:hover {
  background: white url(../brand/logo-2011.png) no-repeat center center;
}
header ul.highlight {
  padding: 0;
  margin: 0 0 0 50%;
  padding-top: 17px;
  list-style: none;
}
header ul.highlight li:first-child {
  height: 111px;
  background: transparent url(../images/red_corner.png) no-repeat left bottom;
  /*box-shadow: 0px 4px 3px #000;*/
}
header ul.highlight li:last-child {
  margin-top: -8px;
  background: transparent url(../images/blue_corner.png) no-repeat left bottom;
}
header ul.highlight li:first-child h2 {
  line-height: 30px;
  font-weight: normal;
  font-size: 24px;
  font-family: "helvetica neue", arial;
  margin-left: 50px;
  padding: 10px 0 30px 20px;
  display: block;
  height: 43px;
  background-color: #6d1711;
  color: white;
  -webkit-box-shadow: 0px 16px 0px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 16px 0px rgba(0,0,0,.3);
  text-shadow: #440e0b 0px  2px 2px;
}
header ul.highlight li:last-child h3 {
  font-family: "helvetica neue";
  height: 26px;
  margin: 0 0 0 50px;
  padding: 20px;
  background-color: #2b6492;
  color: #bdcedc;
  text-shadow: #273337 0px 1px 2px;
  font-size: 28px;
  letter-spacing: -1px;
}
header ul.highlight li:last-child h3 time {
  color: white;
  padding-right: 5px;
  font-size: 40px;
}
header ul.highlight li:last-child h3 .sup {
  font-size: 18px;
  line-height: 14px;
}
/*header h2 {
  font-family: museo-slab-1, museo-slab-2;
  display: block;
  width: 50%;
  margin-left: 50%;
  background-color: #6d1711;
  color: white;
  overflow: hidden;
}*/
/*header h3 {
  font-family: museo-slab-1, museo-slab-2;
}*/
div#content {
  width: 930px;
  margin: 0 auto;
  background: transparent url(../images/bg_content.jpg) repeat-y;
  padding: 10px 15px;
}
aside {
  width: 210px;
  position: relative;
  float: right;
}
section {
  display: block;
  width: 695px;
  border: none;
  background-image: none;
  height: auto;
  padding: 0 0 30px 0;
}
section p {
  text-shadow: 0px 2px 1px #333;
  padding: 0 20px;
  font-size: 1em;
  color: #d4dedd;
} 
section a {
  text-shadow: 0px 0px 0px #333;
} 
section h2 {
  font-family: 'Molengo',arial;
  font-size: 1.2em;
  color: #6e1914;
  font-weight: bold;
  padding: 10px 10px 10px 45px;
  position: relative;
  margin: 0 0 17px 0;
  left: auto;
  width: 180px;
  height: auto;
  background: #ffd97f url(../images/ruby.png) no-repeat 15px center;
  box-shadow: 0 1px 3px #000;
  text-shadow: 1px 1px 1px #fff;
}
section hr {
  margin: 0;
  display: block;
  height: 10px;
  width: 240px;
  border: none;
  background: transparent url(../images/h_shadow.png) no-repeat left top;
}
#translation {
  margin-top: -30px;
}
#speakers {
  margin-top: -40px;
  padding-bottom: 40px;
}
#speakers .speaker {
  position: relative;
  padding-top: 10px;
  min-height: 150px;
}
#speakers .speaker p {
  margin-left: 80px;
}
#speakers .speaker h2 {
  width: 280px;
  margin-top: 20px;
}
#speakers .speaker .avatar {
  position: absolute;
  top: 90px;
  border: 5px solid white;
  -moz-box-shadow: 4px 4px 0.5 #333333;
  -webkit-box-shadow: 1px 1px 4px #333333;
}

#speakers .speaker .avatar ~ .avatar {
  top: 200px
}
/*
  shadowsWorkArounds - only Safari	
  background: url(../images/shadow_left.png) top left no-repeat, url(../images/shadow_right.png) top right no-repeat;
  FF (only pc?)
  .multi_bg_example {  
  background-image: url(../images/shadow_left.png), url(../images/shadow_right.png);
  background-repeat: none;
  background-position: top left, top right;
}
*/
#sponsorships {
  color: #949494;
  font-size: 11px;
}
#sponsorships h2 {
  border-bottom: 1px solid #333;
  background: transparent url(../images/ruby.png) no-repeat left center;
  padding: 10px 10px 10px 30px;
}
#welcome {
  background: transparent url(../images/shadow.png) no-repeat left top;
  margin: 0;
}
#welcome p {
  color: white;
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(rgba(0, 0, 0, 0.496094)));
  font-size: 24px;
  padding: 18px;
  margin: 5px 0;
  line-height: 28px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 3px 6px;
  /*border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #5293cc;
  padding: 8px 12px 12px;
  margin: 28px -6px;*/
}
#where {
  padding: 0;
  margin: 0 0 40px 0;
}
#where p {
  text-align: right;
  float: right;
  font-size: .825em;
  border-top: 1px solid #1b2e35;
  padding: 6px 0 0 0;
}
#where ul.pictures {
  position: relative;
  list-style: none;
  margin: 0;
  height: 200px;
  padding: 7px 0 0 0;
}
#where ul.pictures li {
  position: absolute;
}
#where ul.pictures li:first-child {
  left: 5%;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
}
#where ul.pictures li:last-child {
  right: 0;
  top: -10;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
}
#where ul.pictures li:nth-child(2) {
  left: 20%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
}
#where ul.pictures li img,
#events .picture img {
  border: 5px solid white;
  -moz-box-shadow: 4px 4px 0.5 #333333;
  -webkit-box-shadow: 1px 1px 4px #333333;
  margin-right: 21px;
}
#speakers,
#party {
  background: transparent url(../images/div_shadow.png) no-repeat center bottom;
  margin-bottom: 20px;
}
#register {
  background-color: rgba(255,217,127,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 40%;
  display: inline;
  padding: 0;
}
#register h2 {
  font-family: helvetica;
  text-shadow: 1px 1px 1px #1c2927;
  letter-spacing: -1px;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #fff1cf;
  background-color: transparent;
  background-image: none;
  padding: 12px 15px 0 15px;
  box-shadow: none;
}
#register .title {
  font-size: 16px;
  color: #ffd97f;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 15px;
  text-shadow: 1px 1px 1px #1c2927;
}
#register hr {
  background-image: none;
}
#register p {
  color: #a1a8a7;
  font-size: 14px;
  text-shadow: 0px 0px;
  padding: 5px 15px;
}
#when,
#register {
  width: 345px;
  position: relative;
  float: left;
}
#when .title {
  font-size: 26px;
  font-weight: bold;
  height: 26px;
  -webkit-mask-image: -webkit-gradient(linear, 70% 0%, 70% 100%, from(white), to(rgba(0, 0, 0, 0.5)));
  margin: 10px 0 5px 0;
  color: white;
}
#when .subtitle {
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgba(255, 255, 255, 0.5)));
  margin: 0;
}
footer {
  clear: both;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #2D4047;
  font-size: 14px;
  padding: 8px 6px;
  text-align: center;
}
footer p {
  margin: 0 auto;
  width: 960px;
}

/* new clearFix */
.clearFix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearFix {
  zoom: 1;
} /* IE6 */
*:first-child+html .clearFix {
  zoom: 1;
} /* IE7 */
/* @end */


/* Where */
#where_and_hostels h2 {
  width: auto;
  margin: 0 0 20px 0;
}
#where_and_hostels p {
  padding: 0;
}
#where_and_hostels .picture {
  border: solid 5px #fff;
}
#where_and_hostels div.map {
  float: right;
  margin: 0;
  padding: 5px;
  background: #fff;
}
#where_and_hostels .hotel {
  background-color: rgba(255,217,127,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
#where_and_hostels .hotel h4 {
  font-family: helvetica;
  text-shadow: 1px 1px 1px #1c2927;
  letter-spacing: -1px;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 5px 0;
  color: #fff1cf;
  background-color: transparent;
  background-image: none;
  padding: 20px 15px 0 15px;
}
#where_and_hostels .hotel h4.three_stars {
  background: url(/images/stars.png) no-repeat 632px 20px;
}
#where_and_hostels .hotel h4.four_stars {
  background: url(/images/stars.png) no-repeat 613px 20px;
}
#where_and_hostels .hotel h4.five_stars {
  background: url(/images/stars.png) no-repeat 595px 20px;
}
#where_and_hostels .hotel .details {
  width: 300px;
  float: left;
  padding: 0 0 0 15px;
}
#where_and_hostels .hotel .details a {
  margin: 0 20px 0 0;
}
#where_and_hostels .hotel .details a:hover {
  background: transparent;
}
#where_and_hostels .hotel div.rates {
  float: right;
  width: 300px;
  margin: 0 10px 0 0;
}
#where_and_hostels .hotel div.rates h5 {
  margin: 15px 0 0;
  font-size: 16px;
}
#where_and_hostels .hotel ul {
  list-style: none;
  padding: 0;
}
#where_and_hostels .hotel li {
  font-size: 15px;
  line-height: 1.5;
  color: #A1A8A7;
}
#where_and_hostels .hotel li span {
  float: right;
}
#where_and_hostels .hotel li span.currency {
  font-size: 70%;
  font-weight: bold;
  margin: 2px 10px 0 0;
}

/* Events */
#events div.party, #events div.hackday {
  padding: 20px 0 40px 0;
}
#events h2 {
  width: auto;
  margin: 0 0 20px 0;
}
#events h3 {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
#events div.party div.picture {
  float: right;
  margin: 0 30px 0 30px;
}
#events div.party div.picture img {
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}
#events div.hackday div.picture {
  float: left;
  margin: 0 30px 0 30px;
}
#events div.hackday div.picture img {
  -moz-transform: rotate(+5deg);
  -webkit-transform: rotate(+5deg);
}
.party h4 {
  margin-left: 20px;
}
#events h4.when, #events h4.where {
  padding: 10px 0 0;
  display: inline;
  text-shadow: black 0px 1px 1px;
}
.hackday p, .party p {
  margin: 6px 0 18px;
}

.galleria-stage {
  padding: 50px
}

.galleria-stage img{
  border: 5px solid white;
}

.hidden {
  display: none;
}
