%section#welcome
  %p
    ¡Tenemos charlas para todos los niveles de experiencia!
    %br
    Velo por tí mismo

%section#agenda
  .talks
    %h2 Agenda
    %p
      Proveeremos de traducción simultánea de Inglés a Español y viceversa para
      que no te pierdas ninguna charla.

    - @agenda.each do |date, talks|
      .talk
        %h3= date
        - prior_date = date
        - talks.each do |talk|
          %h4= talk.fetch(:time)
          %h5= talk.fetch(:title)
          .summary= talk.fetch(:summary)
