%section#welcome
  %p
    Bienvenidos a la segunda conferencia organizada en Uruguay para aprender
    sobre <strong>Ruby, la Web y tecnologías asociadas</strong>

%section#where
  %h2 Dónde

  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.

  %ul.pictures
    %li
      %img{ :alt => "Auditorio", :src => "/venue/outside-view.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/tables.jpg" }
    %li
      %img{ :alt => "Auditorio", :src => "/venue/auditorium.jpg" }

%section#when
  %h2 Cuándo
  %p.title 11 y 12 de noviembre
  %p.subtitle aproximadamente de 9 a 20 horas
  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores. ¡Así que vayan reservándose esos días!

%section#register
  %h2 Inscripciones
  %p.title ¡Las inscripciones se abrirán pronto!
