%section#welcome
  %p
    Bienvenidos a la segunda conferencia organizada en Uruguay para aprender
    sobre <strong>Ruby, la Web y tecnologías asociadas</strong>

%section#audience
  %h2 Audiencia
  %p
    RubyConf Uruguay será un evento orientado a todos los informáticos de la región que
    quieran aprender o actualizarse en tecnologías como Ruby, Ruby on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL, etc.
  %p
    Habrá charlas para principiantes, intermedios y avanzados para que nadie se quede afuera.
    Pero lo más importante es que será un evento donde todos podremos aprender algo de los demás ya que nos esforzaremos
    por crear un buen ambiente de conversación entre los asistentes.

%section#where
  %h2 Dónde

  #gallery
  %p Auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay.


%section#when
  %h2 Cuándo
  %p.title 11 y 12 de noviembre
  %p.subtitle aproximadamente de 9 a 20 horas
  %p
    Serán dos días intensos de aprendizaje e intercambio de experiencias entre
    los asistenes y oradores. ¡Así que vayan reservándose esos días!

%section#register
  %h2 Inscripciones
  %p.title ¡Las inscripciones están abiertas!
  %p
    %a{:href => "https://eventioz.com/events/rubyconf-uruguay-2011/registrations/new"} REGISTRATE AQUI!
    %p En todos los casos se incluye el almuerzo para ambos días y se puede pagar con paypal o tarjeta de crédito.
    %p Estamos haciendo gestiones para recibir pagos vía RedPagos.
