%section#welcome
  %p
    ¡Tenemos una asombrosa lista de oradores!
    %br
    Velo por tí mismo

%section#translation
  %p
    Proveeremos de traducción simultánea de Inglés a Español y viceversa para que no te pierdas ninguna charla.

%section#speakers
  .speaker
    %h2 Ian McFarland
    %img.avatar(alt="Ian McFarland" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3629/Ian_Square.jpg")
    %p Comenzó a trabajar en sistemas de hipertexto en 1989 junto con Ted Nelson en Autodesk. Trabajó en el lanzamiento de Hotwired, siendo uno de los involucrados en la histórica decisión de establecer el banner de 468x60 como estándar (Corrián los tiempos del navegador Netscape 0.94 beta).
    %p En 2004 fue el cuarto empleado en ingresar a Friendster, para posteriormente volverse el Arquitecto para irse cuando el Director de Ingeniería decide migrar los sistemas a PHP y XSL.
    %p Desde ese momento, trabajó en Pivotal Labs como Director y Director de tecnología, en varios proyectos para cliente de suma importancia y diseñando un buen número de aplicaciones.
    %p A partir de junio de 2011 Ian ingresa como CTO en Digital Garage, una importante Venture Capital japonesa.

  .speaker#shugo
    %h2 Shugo Maeda
    %img.avatar(alt="Shugo Maeda" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3692/shugo.jpg")
    %p Shugo Maeda es director en Network Applied Communication Laboratory Ltd., es co-presidente de Ruby Association LLC, y un programador daimyo. Es además Ruby committer. Ha sido orador en numerosas conferencias sobre Ruby, como Ruby World 2009 y RubyConf 2010. Actualmente, Shugo está trabajando en Refinements para Ruby 2.0.
    /%p.twitter= speaker_twitter "shugomaeda"

  .speaker#konstantin
    %h2 Konstantin Haase
    %img.avatar(alt="Konstantin Haase" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3616/headshot.png")
    %p Konstantine es desarrollador de software libre de corazón, mantiene el framework Sinatra(www.sinatrarb.com). Actualmente está estudiando Ingeniería de sistemas en el instituto Hass Plattner en Postdam, Alemania y trabaja como desarrollador part time en finnlabs Berlin.
    /%p.twitter= speaker_twitter "tenderlove"

  .speaker#jano
    %h2 Jano González
    %img.avatar(alt="Jano González" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3617/foto.png")
    %p Jano González hace 11 años que es desarrollador Java, recientemente enamorado de Ruby. Ha desarrollado desde pequeñas aplicaciones web hasta complejas arquitecturas enterprise, actualmente se desempeña como desarrollador en Continuum (http://www.continuum.cl).
    %p En su tiempo libre toca música y escribe en el blog Gema Roja (http://gemaroja.com)

  .speaker#rebagliatte
    %h2 Verónica Rebagliatte
    %img.avatar(alt="Verónica Rebagliatt" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3618/rebagliatte.jpg")
    %p
      Verónica es una diseñadora de UI y programadora uruguaya. Está orgullosa de haber contribuido en más de 40 proyectos de variada índole. Hoy en día se focaliza en diseño de interacción de usuario y asesorar en prácticas de usabilidad.
    %p Ama su trabajo y considera que éste define en gran parte quién es.

  .speaker#pedro
    %h2 Pedro Belo
    %img.avatar(alt="Pedro Belo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3619/pedrobelo.jpeg")
    %p Pedro es otro muchacho que comenzó la carrera de computación con la idea de programar juegos. Decide adoptar Ruby luego de caer en la cuenta que es más divertido desarrollar aplicaciones empresariales que juegos.
    %p Trabajó como consultor Ruby en Brasil y EUA hasta que en el 2008 ingresó a Heroku, donde trabaja en proyectos que van desde soporte para Node.js hasta organizar noches de Startcraft y Póker.

  .speaker#tenderlove
    %h2 Aaron Paterson
    %img.avatar(alt="Aaron Paterson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3709/headshot.png")
    %p Aaron Patterson creció en los Estados Unidos, en las duras calles de Salt Lake City. Su única opción de supervicencia fue unirse a un grupo de bailarines de ballet. En 1998 fue procesado por un crimen que no comentió. Escapó de prision, cambió su nombre y aprendió Ruby. Cuando no esta escapando de la policia escribe código Ruby divertido, altamente performance para AT&T Interactive.

  .speaker#blake
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3620/blake_mizerany.jpg")
    %p Creador de Sinatra (www.sinatrarb.com). Se describe a si mismo en pocas frases:
    %p Dice que vió a Elvis recientemente en una estacón de servicio. Habla Ruby, Go, Erlang, JavaScript, C, C++, y más. Su medio favorito de transporte es Git. Y que en Heroku es donde trabaja actualmente.
    %p Afirma también que su madre piensa que es genial.

  .speaker#rozansky
    %h2 Pablo Rozanski
    %img.avatar(alt="Pablo Rozanski" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3711/1021_201726.jpg")
    %p I'm a Computer Science student in UBA, i like to analyze languages from a theoretical point of view but i've been working for big companies the last six years achieving a pragmatic view of development.
    %p I've participated in a bunch of agile development events and i don't stop reading blogs about technology.
    %p The last year i've switched from being a full time .NET developer to Ruby and i'm happy about that.

  .speaker#schacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3622/chacon.jpg")
    %p Scott es VP de Git en GitHub. Autor de: el libro Pro Git(progit.org), Git Internals Peepcode. También mantiene la página de Git (git-scm.com) y el Git Community Book.
    %p Ha tenido el gusto de dar presentaciones en todo el mundo, por ejemplo: LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails, Euruko entre otros. Asimismo, realiza seminarios de capacitación de Git.
    %p Por último, vale aclarar que no es ni actor ni loco, pero se niega rotundamente a participar en Karaokes.

  .speaker#sanderson
    %h2 Stephen Anderson
    %img.avatar(alt="Stephen Anderson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3623/stephen_anderson.png")
    %p Stephen es un profesor y mentor, que disfruta enseñar Rails, especialmente a los novatos. Actualmente enseña Rails en el Madison College y es socio fundador de Bendyworks (http://bendyworks.com).

  .speaker#mojombo
    %h2 Tom Preston-Werner
    %img.avatar(alt="Tom Preston-Werner" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3624/tomstache.png")
    %p Socio fundador de GitHub e inventor de los Gravatars. Le encantan los tater tots y la cerveza.

  .speaker#thais
    %h2 Thais Camilo
    %img.avatar(alt="Thais Camilo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3625/thais.jpg")
    %p El camino que ayudó a Thais a descubrir su pasión por Ruby on Rails empezó cuando tuvo que aprender Perl para organizar su enorme colección de libros y música.
    %p Esto la motivó a iniciar su carrera en informática (en lugar de seguir con el negocio de familia) y a trabajar en desarrollo de software usando C, Perl, Python y PHP. Posteriormente explora Java hasta que finalmente se enamora de Ruby on Rails.
    %p De nacionalidad brasileña, se mudó a Chile para volverse Rocketeer y entrar en contacto con la nieve de los Andes por vez primera. Adora ayudar a la gente y nunca rechaza enseñar lo que sea a quien lo precise

  .speaker#nigel
    %h2 Nigel Fernandes
    %img.avatar(alt="Nigel Fernandes" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3626/profile.png")
    %p Nigel es un consultor senior y conocido 'recluso' en ThoughtWorks Australia.
    %p En los últimos 5 años trabajó alrededor del globo en países como Reino Unido, Alemania, Australia e India en sectores que van desde Telecomunicaciones, E-Commerce hasta agencias gubernamentales.
    %p Fue iluminado por Ruby en 2006, luego de años de trabajar en los 'pantanos' de Java y .Net. Su mayor interés y desafío ha sido el de introducir Ruby en los ambientes Java corporativos.

  .speaker#harold
    %h2 Harold Giménez
    %img.avatar(alt="Harold Giménez" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3627/harold-gimenez.jpeg")
    %p Harold nació en Venezuela para luego a Boston a estudiar ingeniería. Hoy en día trabaja como desarrollador web en thoughbot, donde escribe código y lleva acabo capacitaciones y workshops.

  .speaker
    %h2 Nick Sutterer
    %img.avatar(alt="Nick Sutterer" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3628/nick-stterer.jpeg")
    %p Nick aprecia particularmente la elegancia al escribir código y el valor intrínseco del Software Libre. Cree fervientemente en el desarrollo orientado a componentes, ideas que ha inculcado profusamente en en la comunidad Rails mediante el incansable desarrollo de las gemas Cells y Apotomo. Ha tenido éxito en mostrar que no deben ocurrir errores de double-render y que uno no debe ser esclavo de enfoques monolíticos.
    %p Le encanta la cerveza.

  .speaker
    %h2 Sean Cribbs
    %img.avatar(alt="Sean Cribbs" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3636/seancribbs-square.jpg")
    %p Sean Cribbs se define a si mismo como un "Developer Advocate" en Basho Technologies, lugar donde hace hacks en Ruby, Erlang y JavaScript para afrontar problemas de difícil solución para clientes y la comunidad de software libre en general.
    %p Anted de trabajar en Basho, Sean supo ser desarrollador Ruby on Rails freelance, y colaborador de l CMS Radiant.
    %p Ha llevado a cabo una carrera paralela como músico, compositor, conductor coral y pianista.
    %p Sean es egresadon de la Universidad de Tulsa, Oklahoma, EUA y actualmente vive y trabaja en New Jersey, EUA.

  .speaker
    %h2 Alvaro Mouriño
    %img.avatar(alt="Alvaro Mouriño" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3630/alvaro.jpg")
    %p Se define como activista hacker, militante del movimiento de software libre y defensor de los formatos abiertos. Aprendiendo continuamente cosas nuevas.
    %p Luego de varios intentos fallidos de aprender disciplinas interesante termina programando. Su planificación tiene a desembocar en proyectos sin fines de lucro y suele estar en desacuerdo con las mayorías.
    %p Tiene como sueño todos los idiomas del mundo.

  .speaker
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3631/evan-137x137.jpg")
    %p Evan es un hacker que fundó Cubox SA(cuboxsa.com) y colaboró con la creación de CoworkingMVD. Supo trabajar como arquitecto de sistemas para Yahoo FireEagle y como Lead Developer en Odeo.com

  .speaker
    %h2 Danish Khan
    %img.avatar(alt="Danish Khan" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3632/danish_khan.jpg")
    %p Danish empezó a usar Ruby como casi todo el mundo que forma parte de la comunidad: cuando empezó a usar Rails. Inmediatamente instaló Locomotive en su Mac ¡y fue gratamente sorprendido de que ya tenía Ruby 1.8.6 preinstalado cuando empezo su primer proyecto!
    %p La enseñanza le resulta muy disfrutable y participa activamente en el RailsBridge local para dar una mano. Actualmente trabaja en Engine Yard ayudando a los clientes y prospectos a elegir la mejor arquitectura para sus aplicaciones en pos de brindarles la mejor experiencia posible.

  .speaker
    %h2 Alvaro Gil
    %img.avatar(alt="Alvaro Gil" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3633/profile_copy.png")
    %p Desarrollador de software de profesión, Alvaro ha trabajado con diversas tecnologías en el pasado para productos de GIS y 3D, actualmente se dedica a desarrollar aplicaciones Web y Mobile con Ruby como consultor para la empresa Cubox(cuboxsa.com).

  .speaker
    %h2
      Santiago Pastorino / Jorge Bejar
    %img.avatar(alt="Santiago Pastorino" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3634/santiago.jpg")
    %img.avatar(alt="Jorge Bejar" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3635/jorge.jpg")
    %p Santiago es miembro del Rails Core Team, un desarrollador de software libre devoto y socio fundador de WyeWorks. Es un ingeniero multiuso, perfeccionista y apasionado por crear productos de altísima calidad usando las mejores prácticas de la industria.
    %p Jorge es la "navaja suiza" de la ingeniería de software, puesto a prueba en varias situaciones del campo de la computación. Otrora programador de juegos, hoy trae al mundo Rails todas sus herramientas para usar en cualquier situación.

  .speaker
    %h2 Ben Orenstein
    %img.avatar(alt="Ben Orenstein" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3691/thoughtbot_headshot.png")
    %p Ben es un evangelista de Vim, fanåtico de Apple y un desarrollador web para thoughtbot. Es es co-fundador del Boston Vim Meetup, finalizo onceavo en el Rails Rumble y esta a punto de entrar en el top 50 de commiters de Rails. Cree en los MVP, A/B testing y en remapear caps lock a escape.
