%section#welcome
  %p
    춰Tenemos una asombrosa lista de oradores!
    %br
    Velo por t칤 mismo

%section#translation
  %p
    Proveeremos de traducci칩n simult치nea de Ingl칠s a Espa침ol y viceversa para que no te pierdas ninguna charla.

%section#speakers
  .speaker#imf
    %h2 Ian McFarland
    %img.avatar(alt="Ian McFarland" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3629/Ian_Square.jpg")
    %p Comenz칩 a trabajar en sistemas de hipertexto en 1989 junto con Ted Nelson en Autodesk. Trabaj칩 en el lanzamiento de Hotwired, siendo uno de los involucrados en la hist칩rica decisi칩n de establecer el banner de 468x60 como est치ndar (Corri치n los tiempos del navegador Netscape 0.94 beta).
    %p En 2004 fue el cuarto empleado en ingresar a Friendster, para posteriormente volverse el Arquitecto para irse cuando el Director de Ingenier칤a decide migrar los sistemas a PHP y XSL.
    %p Desde ese momento, trabaj칩 en Pivotal Labs como Director y Director de tecnolog칤a, en varios proyectos para cliente de suma importancia y dise침ando un buen n칰mero de aplicaciones.
    %p A partir de junio de 2011 Ian ingresa como CTO en Digital Garage, una importante Venture Capital japonesa.
    /%p.twitter= speaker_twitter "imf"

  .speaker#yhara
    %h2 Yutaka Hara
    %img.avatar(alt="Yutaka Hara" src="http://d1e2t2dv9kammg.cloudfront.net/speaker_images/3971/yhara.png")
    %p Yutaka Hara trabaja como investigador en el Network Applied Communication Laboratory Ltd en Jap蚤.
    %p Suele escribir art鞍ulos en Japon乶 sobre Ruby, incluyendo el libro "Making Esoteric Languages in Ruby"(creando lenguajes exot本icos en Ruby).
    %p Recientemente ha iniciado el proyecto "ruby-dev translation" (http://ruby-dev.info) que busca traducir las comunicaciones del japon乶 al ingl乶 del equipo de desarrolladores de ruby.
    /%p.twitter= speaker_twitter "yhara"

  .speaker#konstantin
    %h2 Konstantin Haase
    %img.avatar(alt="Konstantin Haase" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3616/headshot.png")
    %p Konstantine es desarrollador de software libre de coraz칩n, mantiene el framework Sinatra(www.sinatrarb.com). Actualmente est치 estudiando Ingenier칤a de sistemas en el instituto Hass Plattner en Postdam, Alemania y trabaja como desarrollador part time en finnlabs Berlin.
    /%p.twitter= speaker_twitter "tenderlove"

  .speaker#jano
    %h2 Jano Gonz치lez
    %img.avatar(alt="Jano Gonz치lez" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3617/foto.png")
    %p Jano Gonz치lez hace 11 a침os que es desarrollador Java, recientemente enamorado de Ruby. Ha desarrollado desde peque침as aplicaciones web hasta complejas arquitecturas enterprise, actualmente se desempe침a como desarrollador en Continuum (http://www.continuum.cl).
    %p En su tiempo libre toca m칰sica y escribe en el blog Gema Roja (http://gemaroja.com)

  .speaker#rebagliatte
    %h2 Ver칩nica Rebagliatte
    %img.avatar(alt="Ver칩nica Rebagliatt" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3618/rebagliatte.jpg")
    %p
      Ver칩nica es una dise침adora de UI y programadora uruguaya. Est치 orgullosa de haber contribuido en m치s de 40 proyectos de variada 칤ndole. Hoy en d칤a se focaliza en dise침o de interacci칩n de usuario y asesorar en pr치cticas de usabilidad.
    %p Ama su trabajo y considera que 칠ste define en gran parte qui칠n es.

  .speaker#pedro
    %h2 Pedro Belo
    %img.avatar(alt="Pedro Belo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3619/pedrobelo.jpeg")
    %p Pedro es otro muchacho que comenz칩 la carrera de computaci칩n con la idea de programar juegos. Decide adoptar Ruby luego de caer en la cuenta que es m치s divertido desarrollar aplicaciones empresariales que juegos.
    %p Trabaj칩 como consultor Ruby en Brasil y EUA hasta que en el 2008 ingres칩 a Heroku, donde trabaja en proyectos que van desde soporte para Node.js hasta organizar noches de Startcraft y P칩ker.

  .speaker#tenderlove
    %h2 Aaron Patterson
    %img.avatar(alt="Aaron Patterson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3709/headshot.png")
    %p Aaron Patterson creci칩 en los Estados Unidos, en las duras calles de Salt Lake City. Su 칰nica opci칩n de supervicencia fue unirse a un grupo de bailarines de ballet. En 1998 fue procesado por un crimen que no comenti칩. Escap칩 de prision, cambi칩 su nombre y aprendi칩 Ruby. Cuando no esta escapando de la policia escribe c칩digo Ruby divertido, altamente performance para AT&T Interactive.

  .speaker#blake
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3620/blake_mizerany.jpg")
    %p Creador de Sinatra (www.sinatrarb.com). Se describe a si mismo en pocas frases:
    %p Dice que vi칩 a Elvis recientemente en una estac칩n de servicio. Habla Ruby, Go, Erlang, JavaScript, C, C++, y m치s. Su medio favorito de transporte es Git. Y que en Heroku es donde trabaja actualmente.
    %p Afirma tambi칠n que su madre piensa que es genial.

  .speaker#rozansky
    %h2 Pablo Rozanski
    %img.avatar(alt="Pablo Rozanski" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3711/1021_201726.jpg")
    %p Soy estudiante de Ciencias de la Computacion en la UBA, me gusta analizar los temas y los lenguajes desde un marco teorico, pero tambien trabajo hace 6 a침os en la industria del software para empresas grandes y eso me dio una vision muchisimo mas pragmatica del desarrollo.
    %p Participe de muchos eventos de desarrollo agil, no paro de leer blogs sobre cualquier cosa que pase con la tecnologia.
    %p Hace 1 a침o pase de desarrollar full time en .net a desarrollar con ruby y estoy feliz con eso.

  .speaker#schacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3622/chacon.jpg")
    %p Scott es VP de Git en GitHub. Autor de: el libro Pro Git(progit.org), Git Internals Peepcode. Tambi칠n mantiene la p치gina de Git (git-scm.com) y el Git Community Book.
    %p Ha tenido el gusto de dar presentaciones en todo el mundo, por ejemplo: LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails, Euruko entre otros. Asimismo, realiza seminarios de capacitaci칩n de Git.
    %p Por 칰ltimo, vale aclarar que no es ni actor ni loco, pero se niega rotundamente a participar en Karaokes.

  .speaker#sanderson
    %h2 Stephen Anderson
    %img.avatar(alt="Stephen Anderson" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3623/stephen_anderson.png")
    %p Stephen es un profesor y mentor, que disfruta ense침ar Rails, especialmente a los novatos. Actualmente ense침a Rails en el Madison College y es socio fundador de Bendyworks (http://bendyworks.com).

  .speaker#mojombo
    %h2 Tom Preston-Werner
    %img.avatar(alt="Tom Preston-Werner" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3624/tomstache.png")
    %p Socio fundador de GitHub e inventor de los Gravatars. Le encantan los tater tots y la cerveza.

  .speaker#thais
    %h2 Thais Camilo
    %img.avatar(alt="Thais Camilo" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3625/thais.jpg")
    %p El camino que ayud칩 a Thais a descubrir su pasi칩n por Ruby on Rails empez칩 cuando tuvo que aprender Perl para organizar su enorme colecci칩n de libros y m칰sica.
    %p Esto la motiv칩 a iniciar su carrera en inform치tica (en lugar de seguir con el negocio de familia) y a trabajar en desarrollo de software usando C, Perl, Python y PHP. Posteriormente explora Java hasta que finalmente se enamora de Ruby on Rails.
    %p De nacionalidad brasile침a, se mud칩 a Chile para volverse Rocketeer y entrar en contacto con la nieve de los Andes por vez primera. Adora ayudar a la gente y nunca rechaza ense침ar lo que sea a quien lo precise

  .speaker#nigel
    %h2 Nigel Fernandes
    %img.avatar(alt="Nigel Fernandes" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3626/profile.png")
    %p Nigel es un consultor senior y conocido 'recluso' en ThoughtWorks Australia.
    %p En los 칰ltimos 5 a침os trabaj칩 alrededor del globo en pa칤ses como Reino Unido, Alemania, Australia e India en sectores que van desde Telecomunicaciones, E-Commerce hasta agencias gubernamentales.
    %p Fue iluminado por Ruby en 2006, luego de a침os de trabajar en los 'pantanos' de Java y .Net. Su mayor inter칠s y desaf칤o ha sido el de introducir Ruby en los ambientes Java corporativos.

  .speaker#harold
    %h2 Harold Gim칠nez
    %img.avatar(alt="Harold Gim칠nez" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3627/harold-gimenez.jpeg")
    %p Harold naci칩 en Venezuela para luego a Boston a estudiar ingenier칤a. Hoy en d칤a trabaja como desarrollador web en thoughbot, donde escribe c칩digo y lleva acabo capacitaciones y workshops.

  .speaker
    %h2 Nick Sutterer
    %img.avatar(alt="Nick Sutterer" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3628/nick-stterer.jpeg")
    %p Nick aprecia particularmente la elegancia al escribir c칩digo y el valor intr칤nseco del Software Libre. Cree fervientemente en el desarrollo orientado a componentes, ideas que ha inculcado profusamente en en la comunidad Rails mediante el incansable desarrollo de las gemas Cells y Apotomo. Ha tenido 칠xito en mostrar que no deben ocurrir errores de double-render y que uno no debe ser esclavo de enfoques monol칤ticos.
    %p Le encanta la cerveza.

  .speaker
    %h2 Sean Cribbs
    %img.avatar(alt="Sean Cribbs" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3636/seancribbs-square.jpg")
    %p Sean Cribbs se define a si mismo como un "Developer Advocate" en Basho Technologies, lugar donde hace hacks en Ruby, Erlang y JavaScript para afrontar problemas de dif칤cil soluci칩n para clientes y la comunidad de software libre en general.
    %p Anted de trabajar en Basho, Sean supo ser desarrollador Ruby on Rails freelance, y colaborador de l CMS Radiant.
    %p Ha llevado a cabo una carrera paralela como m칰sico, compositor, conductor coral y pianista.
    %p Sean es egresadon de la Universidad de Tulsa, Oklahoma, EUA y actualmente vive y trabaja en New Jersey, EUA.

  .speaker
    %h2 Alvaro Mouri침o
    %img.avatar(alt="Alvaro Mouri침o" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3630/alvaro.jpg")
    %p Se define como activista hacker, militante del movimiento de software libre y defensor de los formatos abiertos. Aprendiendo continuamente cosas nuevas.
    %p Luego de varios intentos fallidos de aprender disciplinas interesante termina programando. Su planificaci칩n tiene a desembocar en proyectos sin fines de lucro y suele estar en desacuerdo con las mayor칤as.
    %p Tiene como sue침o todos los idiomas del mundo.

  .speaker
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3631/evan-137x137.jpg")
    %p Evan es un hacker que fund칩 Cubox SA(cuboxsa.com) y colabor칩 con la creaci칩n de CoworkingMVD. Supo trabajar como arquitecto de sistemas para Yahoo FireEagle y como Lead Developer en Odeo.com

  .speaker
    %h2 Danish Khan
    %img.avatar(alt="Danish Khan" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3632/danish_khan.jpg")
    %p Danish empez칩 a usar Ruby como casi todo el mundo que forma parte de la comunidad: cuando empez칩 a usar Rails. Inmediatamente instal칩 Locomotive en su Mac 춰y fue gratamente sorprendido de que ya ten칤a Ruby 1.8.6 preinstalado cuando empezo su primer proyecto!
    %p La ense침anza le resulta muy disfrutable y participa activamente en el RailsBridge local para dar una mano. Actualmente trabaja en Engine Yard ayudando a los clientes y prospectos a elegir la mejor arquitectura para sus aplicaciones en pos de brindarles la mejor experiencia posible.

  .speaker
    %h2 Alvaro Gil
    %img.avatar(alt="Alvaro Gil" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3633/profile_copy.png")
    %p Desarrollador de software de profesi칩n, Alvaro ha trabajado con diversas tecnolog칤as en el pasado para productos de GIS y 3D, actualmente se dedica a desarrollar aplicaciones Web y Mobile con Ruby como consultor para la empresa Cubox(cuboxsa.com).

  .speaker
    %h2
      Santiago Pastorino / Jorge Bejar
    %img.avatar(alt="Santiago Pastorino" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3634/santiago.jpg")
    %img.avatar(alt="Jorge Bejar" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3635/jorge.jpg")
    %p Santiago es miembro del Rails Core Team, un desarrollador de software libre devoto y socio fundador de WyeWorks. Es un ingeniero multiuso, perfeccionista y apasionado por crear productos de alt칤sima calidad usando las mejores pr치cticas de la industria.
    %p Jorge es la "navaja suiza" de la ingenier칤a de software, puesto a prueba en varias situaciones del campo de la computaci칩n. Otrora programador de juegos, hoy trae al mundo Rails todas sus herramientas para usar en cualquier situaci칩n.

  .speaker
    %h2 Ben Orenstein
    %img.avatar(alt="Ben Orenstein" src="https://s3.amazonaws.com/eventioz_production/speaker_images/3691/thoughtbot_headshot.png")
    %p Ben es un evangelista de Vim, fan친tico de Apple y un desarrollador web para thoughtbot. Es es co-fundador del Boston Vim Meetup, finalizo onceavo en el Rails Rumble y esta a punto de entrar en el top 50 de commiters de Rails. Cree en los MVP, A/B testing y en remapear caps lock a escape.

  .speaker
    %h2 Duda Dornelles
    %img.avatar(alt="Duda Dornelles" src="http://d1e2t2dv9kammg.cloudfront.net/speaker_images/3855/duda.jpg")
    %p Trabajo como consultor para ThoughtWorks desde el a침o 2010. Seguidor de las pr치cticas 치giles y ansioso por aplicarlas en cada proyecto en el que trabajo, sin importar el lenguaje.
