%section#welcome
  %p
    ¡Estamos buscando sponsors! Si está interesado o tiene una propuesta,
    no dude en #{email "enviarnos un mail"}

%section#praise
  %p
    El Grupo de Usuarios de Ruby Uruguay organiza por segundo año consecutivo la
    conferencia RubyConf Uruguay, la principal conferencia de Ruby y tecnologías
    ágiles en Uruguay y una de las más destacadas de América Latina.

  %p
    Enmarcada en la #{link_to "Gira RubySur", "http://gira.rubysur.org"},
    contará con la presencia de desarrolladores de toda la región y destacados
    oradores de todo el mundo con experiencia en tecnologías como Ruby, JRuby,
    Ruby on Rails, control de versiones distribuído (Git), testing automatizado,
    metodologías ágiles (SCRUM), JavaScript, SQL vs NoSQL, etc.

  %p
    En su primera edición, RubyConf Uruguay, con el apoyo de reconocidas empresas
    del medio como Artech, InConcert y Cubox sumado al auspicio de renombradas
    empresas del exterior como CitrusByte, Github y BlueBox, logró convocar a más
    de 250 desarrolladores, entre estudiantes y profesionales y contó con
    renombrados disertantes de Estados Unidos, Argentina, Chile, Paraguay y
    Brasil. Este año pretendemos organizar un evento que sea más grande y resulte
    beneficioso tanto para los desarrolladores Ruby como para toda la comunidad
    de desarrolladores de distintas plataformas.

  %p
    Esperamos que puedan acompañarnos en este desafío! Si ninguno de los
    siguientes planes de auspiciamiento les sirve, no duden
    #{email "en contactarnos"}, ya que estamos abiertos a propuestas.

%section#platinum
%section#gold
%section#silver
  %h2 GitHub
  %p
    Github es un control de versiones para el desarrollo de software y mucho mas!. Asi sea un proyecto de fin de semana, tu libreria
    open source favorita, una startup destinada a la gloria, o la aplicación de tu compañía, GitHub ayuda para que todos trabajen juntos con herramientas para
    una colaboracion mas efectiva y mas flexibilidad.
    Pruebalo, gratis para open source!.
%section#bronze
