%section#welcome
  %p
    ¡Estamos buscando sponsors! Si está interesado o tiene una propuesta,
    no dude en #{email "enviarnos un mail"}

%section#praise
  %p
    El Grupo de Usuarios de Ruby Uruguay organiza por segundo año consecutivo la
    conferencia RubyConf Uruguay, la principal conferencia de Ruby y tecnologías
    ágiles en Uruguay y una de las más destacadas de América Latina.

  %p
    Enmarcada en la #{link_to "Gira RubySur", "http://gira.rubysur.org"},
    contará con la presencia de desarrolladores de toda la región y destacados
    oradores de todo el mundo con experiencia en tecnologías como Ruby, JRuby,
    Ruby on Rails, control de versiones distribuído (Git), testing automatizado,
    metodologías ágiles (SCRUM), JavaScript, SQL vs NoSQL, etc.

  %p
    En su primera edición, RubyConf Uruguay, con el apoyo de reconocidas empresas
    del medio como Artech, InConcert y Cubox sumado al auspicio de renombradas
    empresas del exterior como CitrusByte, Github y BlueBox, logró convocar a más
    de 250 desarrolladores, entre estudiantes y profesionales y contó con
    renombrados disertantes de Estados Unidos, Argentina, Chile, Paraguay y
    Brasil. Este año pretendemos organizar un evento que sea más grande y resulte
    beneficioso tanto para los desarrolladores Ruby como para toda la comunidad
    de desarrolladores de distintas plataformas.

  %p
    Esperamos que puedan acompañarnos en este desafío! Si ninguno de los
    siguientes planes de auspiciamiento les sirve, no duden
    #{email "en contactarnos"}, ya que estamos abiertos a propuestas.

%section#platinum
  %h2
    Platinum
  %p
    $5000 USD, limitado a 1 sponsor.
  %ul
    %li
      Charla de 15 minutos al principio del segundo día.
    %li
      Banner Ad con link en el website.
    %li
      Logo de la empresa en prominentes rollouts/banners en el hall de la
      conferencia y en la sala de exhibiciones (provistos por el auspiciante).
    %li
      Descripción de 200 palabras en el website.
    %li
      Nombre y logo de la empresa en el website.
    %li
      Logo de la empresa en remeras, pases a la conferencia, programas, y demás
      merchandising.
    %li
      Menciones en el escenario cada día.
    %li
      6 entradas a la conferencia.

%section#gold
  %h2
    Gold
  %p
    $2500 USD.
  %ul
    %li
      Logo de la empresa en rollouts/banners en el hall de la conferencia y en
      la sala de exhibiciones (provistos por el auspiciante).
    %li
      Descripción de 100 palabras en el website.
    %li
      Nombre y logo de la empresa en el website.
    %li
      Logo de la empresa en remeras, pases a la conferencia, programas, y demás
      merchandising.
    %li
      Menciones en el escenario cada día.
    %li
      4 entradas a la conferencia.

%section#silver
  %h2
    Silver
  %p
    $1000 USD.
  %ul
    %li
      Logo de la empresa en rollouts/banners en la sala de exhibiciones
      (provistos por el auspiciante).
    %li
      Descripción de 50 palabras en el website.
    %li
      Nombre y logo de la empresa en el website.
    %li
      Logo de la empresa en remeras, pases a la conferencia, programas, y demás
      merchandising.
    %li
      Menciones en el escenario cada día.
    %li
      2 entradas a la conferencia.

%section#bronze
  %h2
    Bronze
  %p
    $500 USD.
  %ul
    %li
      Logo de la empresa en pequeños rollouts/banners en la sala de exhibiciones
      (deben ser provistos por el auspiciante).
    %li
      Logo de la empresa en el website.
    %li
      Logo de la empresa en remeras, programas, y demás merchandising.
    %li
      1 entrada a la conferencia.
