%section#welcome
  %p
    ¡Estamos buscando sponsors! Si está interesado o tiene una propuesta,
    no dude en #{email "enviarnos un mail"}

%section#gold
  %h2
    Oro
  %p
    $5000 USD, limitado a 1 sponsor.
  %ul
    %li
      Logo prominente en programa del evento, website y toda publicación
      referente al evento
    %li
      Colocación prioritaria del logo de la empresa sobre los otros
      niveles de sponsors
    %li
      Posiblidad de colocación de Roll up de la firma en la Sala de Conferencias
    %li
      Hasta 3 folletos a distribuir con el programa del evento
    %li
      Stand de 6 m2 en la zona de sponsors
    %li
      6 inscripciones libres

%section#silver
  %h2
    Plata
  %p
    $3000 USD, limitado a 3 sponsors.
  %ul
    %li
      Logo en programa del evento, website y toda publicación referente al evento
    %li
      Hasta 2 folletos a distribuir con el programa del evento
    %li
      Posiblidad de colocación de Roll up de la zona de sponsors
    %li
      Stand de 4 m2 en la zona de sponsors
    %li
      3 inscripciones libres

%section#bronze
  %h2
    Bronce
  %p
    $1000 USD, sponsors ilimitados.
  %ul
    %li
      Logo en programa del evento y website
    %li
      Hasta 2 folletos a distribuir con el programa del evento
    %li
      Posiblidad de colocación de Roll up de la firma en la zona de sponsors
    %li
      1 inscripción libre

%section#break
  %h2
    Coffee Break
  %p
    $500 USD, limitado a 6 sponsors.
  %ul
    %li
      Posiblidad de colocación de Roll up de la firma durante el break
    %li
      Logo mostrado cerca del café y snacks
    %li
      Agradecimiento al sponsor al momento de anunciar el principio y fin del break

%section#lunch
  %h2
    Almuerzo
  %p
    $1500 USD (o proveer el almuerzo), limitado a 2 sponsors.
  %ul
    %li
      Posiblidad de colocación de Roll up de la firma durante el almuerzo
    %li
      Logo mostrado cerca de la comida y bebidas
    %li
      Agradecimiento al sponsor al momento de anunciar el principio y fin
      del almuerzo

%section#party
  %h2
    Fiesta final
  %p
    Estamos abiertos a sus sugerencias.
  %ul
    %li
      Posiblidad de colocación de Roll up de la firma durante la fiesta
    %li
      Nombrar la fiesta como "la fiesta de x"
    %li
      Logo mostrado en el bar
    %li
      Logo en el paquete con información sobre la fiesta

%section#praise

  %p
    Más allá de los paquetes de sponsors, si tienen ideas específicas, nos
    gustaría hablar sobre cómo podrían patrocinar RubyConf Uruguay.
